.view__content
  .view__columns
    
    .view__column
      a.view__add(href='#library-opettaja')

      h1.title__list Omat tehtävät

      .list.type--tasks

        .list__item
          .list__item-title Lataa tehtävä
          .list__item-description Hae tehtävä koodilla.
          .list__item-footer
            .list__item-input
              input.input--code(type='text', placeholder='Kirjoita koodi tähän...')
              a.button--continue

        .list__item
          .list__item-status
            .status Uusi
          .list__item-image
          a.list__item-title(href='#task-suomivisa') Suomi-visa
          .list__item-detail 
          .list__item-code
            .code OAIKSL        

        .list__item
          .list__item-image
          a.list__item-title(href='#task-lempipaikkani') Lempipaikkani
          .list__item-detail 14 merkintää
          .list__item-code
            .code AUHSKL

        .list__item
          .list__item-image
          a.list__item-title(href='#task-suomivisa') Suomi-visa 4B
          .list__item-detail 6 merkintää
          .list__item-code
            .code KAOSIF

        .list__item
          .list__item-image
          a.list__item-title(href='#task-suomivisa') Suomi-visa 4C
          .list__item-detail 1 merkintä
          .list__item-code
            .code PAOSIJ


    .view__column
      .profile
        .profile__item
          .profile__image
            //-
        .profile__item
          label Oili Opettaja
        .profile__footer
          .profile__footer-item
            a(href='#login-opettaja') Kirjaudu ulos
