.view__header
  h1.view__header-title Omat tehtävät
  a.view__add(href='#library') Uusi tehtävä
  a.view__profile-show.variant--1(onclick='$("#profile").addClass("is-open")')


.view__content
  .view__columns
    .view__column
      .view__filters
        .view__filter
          .view__filter-dropdown
            .view__filter-dropdown-title Tekijä
            .view__filter-dropdown-handle
            .view__filter-dropdown-content
              .view__filter-dropdown-row Minä
              .view__filter-dropdown-row Opettaja
        .view__filter
          .view__filter-dropdown
            .view__filter-dropdown-title Tyyppi
            .view__filter-dropdown-handle
            .view__filter-dropdown-content
              .view__filter-dropdown-row Toimi
              .view__filter-dropdown-row Tutki
              .view__filter-dropdown-row Tee


      .list.type--tasks
        .list__item.type--code
          form
            .list__item-title Lataa tehtävä
            .list__item-description Hae tehtävä koodilla.
            //- .list__item-error
            //-   .text Tehtävää ei löytynyt. Tarkista että koodi on oikein ja yritä uudestaan.
            .list__item-footer
              .list__item-input
                input.input--code(type='text', maxlength='1', onkeyup='$("#code2").focus()')
                input.input--code#code2(type='text', maxlength='1', onkeyup='$("#code3").focus()')
                input.input--code#code3(type='text', maxlength='1', onkeyup='$("#code4").focus()')
                input.input--code#code4(type='text', maxlength='1', onkeyup='$("#code5").focus()')
                input.input--code#code5(type='text', maxlength='1', onkeyup='$("#newTask").show();$(this).blur()')
                //- a.button--continue(href='#map-karttaesitys') 

        .list__item#newTask(style='display:none')
          .list__item-status
            .status Uusi
          a.list__item-image.type--2(href='#task-suomivisa')
          a.list__item-title(href='#task-suomivisa') Suomi-visa
          .list__item-marks  
            .list__item-mark
            .list__item-mark
            .list__item-mark       

        a.list__item(href='#task-lempipaikkani')
          .list__item-image.type--1
          .list__item-title Lempipaikkani
          .list__item-marks
            .list__item-mark.is-done
            .list__item-mark.is-done
            .list__item-mark.is-done
            .list__item-mark.is-done
        a.list__item(href='#task-suomivisa')
          .list__item-image.type--2
          .list__item-title Suomi-visa
          .list__item-marks
            .list__item-mark.is-done
            .list__item-mark
        a.list__item(href='#task-lempipaikkani')
          .list__item-image.type--1
          .list__item-title Oma kartta
          .list__item-marks
            .list__item-mark.is-done
            .list__item-mark
        a.list__item(href='#task-suomivisa')
          .list__item-image.type--2
          .list__item-title Talventörröttäjät
          .list__item-marks
        a.list__item(href='#task-lempipaikkani')
          .list__item-image.type--1
          .list__item-title Lempipaikkani 3C
          .list__item-marks
            .list__item-mark.is-done
            .list__item-mark.is-done
        a.list__item(href='#task-suomivisa')
          .list__item-image.type--2
          .list__item-title Maantiedon tehtävä 4B
          .list__item-marks
            .list__item-mark

        .list__footer
          .link Näytä valmiit tehtävät (12)


    .view__column#profile

        .profile#profile-view
          .profile__header
            4(onclick='$("#profile").removeClass("is-open")') Takaisin
            .profile__header-edit(onclick='$("#profile-edit").show();$("#profile-view").hide()') Muokkaa
          .profile__item
            .profile__image
              .image.variant--1
          .profile__item
            .title Olli Oppilas
          .profile__item
            .rank Tason 5 tutkija
          .profile__medals
            .profile__medal.type--1 5
            .profile__medal.type--2 5
            .profile__medal.type--3 10
            .profile__medal.type--4 15
            .profile__medal.type--5 25
            .profile__medal.type--6.is-empty
            .profile__medals-footer
              .link Näytä kaikki saavutukset

          .profile__footer
            .profile__footer-item
              a(href='#login') Kirjaudu ulos
          
        .profile#profile-edit.is-open(style='display:none')
          .profile__header
            .profile__header-edit(onclick='$("#profile-view").show();$("#profile-edit").hide()') Tallenna
          .profile__item
            .profile__image
              .profile__image-prev(onclick='$("#profileImage").removeClass("variant--2").addClass("variant--1");$(".app").removeClass("variant--2").addClass("variant--1")')
              #profileImage.image.variant--1
              .profile__image-next(onclick='$("#profileImage").removeClass("variant--1").addClass("variant--2");$(".app").removeClass("variant--1").addClass("variant--2")')
          .profile__item
            .title
              input(type='text', value='Olli Oppilas', placeholder='Kirjoita tähän nimesi')


