.popup#create-task
  .popup__content
    .form.type--basic

      .popup__header
        a.popup__header-link.type--back(href='#library-opettaja')
        h1.popup__header-title Uusi tehtävä

      h1.accordion__header Suomi-visa

      .form__item
        label Nimi
        input(type='text', value='Suomi-visa')
      .form__footer
        a.button(href='#dashboard-opettaja') Tallenna tehtävä

  .view__header
    a.view__header-link.type--back(href='#dashboard-opettaja')
    h1.view__header-title Tehtäväkirjasto            


.view__content


  h1.title__list Valitse tehtävä

  .list.type--tasks
    .list__item
      .list__item-tag
        .tag Monialainen
      .list__item-title Karttaesitys
      .list__item-description Kartta ja työkalut oman esityksen luomiseen.
      .list__item-info Tehtävä sopii omien esitysten tekemiseen ja karttatyökaluihin tutustumiseen.
      .list__item-footer
        a.list__item-link.is-inactive Luo tehtävä

    .list__item
      .list__item-tag
        .tag Maantieto
      .list__item-title Suomi-visa
      .list__item-description Tässä visassa harjoitellaan kartan käyttöä hyödyntäen kartta-alustan työkaluja.
      .list__item-info Tehtävä sopii ala- ja yläkouluun sekä lukioon maantieteen ja ympäristöopin tunneille.
      .list__item-footer  
        a.list__item-link(href='#create-task') Luo tehtävä

    .list__item
      .list__item-tag
        .tag Maantieto
      .list__item-title Lempipaikkani
      .list__item-description Tämä tehtävä ei ole vielä käytössä.
      .list__item-footer
        a.list__item-link.is-inactive Luo tehtävä

    .list__item
      .list__item-tag
        .tag Monialainen
      .list__item-title Luokkaretki
      .list__item-description Tämä tehtävä ei ole vielä käytössä.
      .list__item-footer
        a.list__item-link.is-inactive Luo tehtävä






