.view__header
  a.view__header-link.type--back(href='#dashboard')
  h1.view__header-title Tehtäväkirjasto            


.view__content


  h1.title__list Valitse tehtävä

  .list.type--tasks
    .list__item
      .list__item-title Karttaesitys
      .list__item-description Kartta ja työkalut oman esityksen luomiseen.
      .list__item-footer
        a.list__item-link(href='#map-karttaesitys') Aloita tehtävä

    .list__item
      .list__item-title Lempipaikkani
      .list__item-description Etsi lempipaikkasi ja merkitse se kartalle.
      .list__item-footer  
        a.list__item-link(href='#task-lempipaikkani-aloita') Aloita tehtävä

    .list__item
      .list__item-title Suomi-visa
      .list__item-description Tässä visassa harjoitellaan kartan käyttöä hyödyntäen kartta-alustan erilaisia työkaluja ja kartta-aineistoja.
      .list__item-footer  
        a.list__item-link(href='#task-suomivisa-aloita') Aloita tehtävä

    .list__item
      .list__item-title Luokkaretki
      .list__item-description Tämä tehtävä ei ole vielä käytössä.
      .list__item-footer
        a.list__item-link.is-inactive Aloita tehtävä