.view__header
  a.view__header-link.type--back(href='#dashboard')
  h1.view__header-title Tehtäväkirjasto            


.view__content
  .view__columns
    .view__column.type--one
      .view__filters
        .view__filter
          .view__filter-dropdown
            .view__filter-dropdown-title Tekijä
            .view__filter-dropdown-handle
            .view__filter-dropdown-content
              .view__filter-dropdown-row Minä
              .view__filter-dropdown-row Opettaja
        .view__filter
          .view__filter-dropdown
            .view__filter-dropdown-title Tyyppi
            .view__filter-dropdown-handle
            .view__filter-dropdown-content
              .view__filter-dropdown-row Toimi
              .view__filter-dropdown-row Tutki
              .view__filter-dropdown-row Tee

      //- h1.title__list Valitse tehtävä

      .list.type--tasks
        .list__item
          .list__item-title Karttaesitys
          .list__item-description Kartta ja työkalut oman esityksen luomiseen.
          
          .list__item-footer
            a.list__item-link(href='#map-karttaesitys') Aloita tehtävä

        .list__item
          .list__item-type.type--1
          .list__item-title Suomi-visa
          .list__item-description Tässä visassa harjoitellaan kartan käyttöä hyödyntäen kartta-alustan työkaluja.

          .list__item-footer  
            a.list__item-link(href='#task-suomivisa-aloita') Aloita tehtävä

        .list__item
          .list__item-type.type--1
          .list__item-title Lempipaikkani
          .list__item-description Merkitse kartalle lempipaikkasi.
          .list__item-footer  
            a.list__item-link(href='#task-lempipaikkani-aloita') Aloita tehtävä

        .list__item
          .list__item-type.type--2
          .list__item-title Luokkaretki
          .list__item-description Tämä tehtävä ei ole vielä käytössä.
          .list__item-footer
            a.list__item-link Aloita tehtävä