.popup#task-lempipaikkani-aloita
  if compileWithDocumentation
    .proto__documentation
      p Tehtävän ohjeet. Ensimmäisessä vaiheessa toteutetaan yhden pistemäisen merkinnän lisääminen kartalle, kartan zoomaus ja liikuttaminen.

  .view__content
    .accordion
      h1.accordion__header Lempipaikkani
      .accordion__item
        h2.accordion__title Merkitse kartalle oma lempipaikkasi
        .accordion__text
          ul.list.type--text
            li.list__item Opettele kartan käyttöä.
            li.list__item Etsi kartalta oma lempipaikkasi.
            li.list__item Merkitse kartalle valitsemasi paikka ja kerro miksi se on sinulle tärkeä.
      
      .accordion__footer
        a.button(href='#map-lempipaikkani') Aloita tehtävä

.popup#task-lempipaikkani
  if compileWithDocumentation
    .proto__documentation
      p Tehtävän ohjeet. Ensimmäisessä vaiheessa toteutetaan yhden pistemäisen merkinnän lisääminen kartalle, kartan zoomaus ja liikuttaminen.

  .view__content
    .accordion
      h1.accordion__header Lempipaikkani
      .accordion__item
        h2.accordion__title Merkitse kartalle oma lempipaikkasi
        .accordion__text
          ul.list.type--text
            li.list__item Opettele kartan käyttöä.
            li.list__item Etsi kartalta oma lempipaikkasi.
            li.list__item Merkitse kartalle valitsemasi paikka ja kerro miksi se on sinulle tärkeä.
      
      .accordion__footer
        a.button(href='#map-lempipaikkani') Jatka tehtävää

.popup#mark

  .form.type--basic

    .popup__header
      a.popup__header-link.type--back(href='#map-lempipaikkani')
      h1.popup__header-title Uusi merkintä

    .form__text
      .form__text-title Koordinaatit
      .form__text-value 60°10′15″N, 024°56′15″E

    .form__item
      label Nimi
      input(type='text')
    .form__item
      label Kuvaus
      textarea
    .form__footer
      a.button(href='#map-lempipaikkani') Tallenna merkintä


.popup#mark-view

  .form.type--basic

    .popup__header
      a.popup__header-link.type--back(href='#map-lempipaikkani')
      h1.popup__header-title Kallen lempipaikka

    .form__text
      .form__text-title Koordinaatit
      .form__text-value 60°10′15″N, 024°56′15″E

    .form__item
      label Nimi
      .form__value Kallen lempipaikka
    .form__item
      label Kuvaus
      .form__value Pieni kivi puron vieressä.
    //- .form__footer
    //-   a.button(href='#map-lempipaikkani') Muokkaa merkintää


.view__header.type--map
  a.view__header-link.type--back(href='#dashboard')
  h1.view__header-title Lempipaikkani
  a.view__header-link.type--info(href='#task-lempipaikkani') Ohjeet

.map__wrapper
  .map__zoom
    .map__zoom-in
    .map__zoom-out
    .map__center

  .map__tools
    a.map__tools-dot(href='#mark')
    .map__tools-coords 60°10′15″N, 024°56′15″E

  .map__pointers
    a.map__pointer(style='top:300px;left:190px;', href='#mark-view')


  .placeholder__map