.popup#task-lempipaikkani-aloita
  if compileWithDocumentation
    .proto__documentation
      p Tehtävän ohjeet. Ensimmäisessä vaiheessa toteutetaan yhden pistemäisen merkinnän lisääminen kartalle, kartan zoomaus ja liikuttaminen.

  .popup__content
    .accordion
      h1.accordion__header Lempipaikkani
      .accordion__item
        h2.accordion__title Merkitse kartalle oma lempipaikkasi
        .accordion__text
          ul.list.type--text
            li.list__item Opettele kartan käyttöä.
            li.list__item Etsi kartalta oma lempipaikkasi.
            li.list__item Merkitse kartalle valitsemasi paikka ja kerro miksi se on sinulle tärkeä.
      
      .accordion__footer
        a.button(href='#map-lempipaikkani', onclick='$(".view__container").addClass("is-loaded")') Aloita tehtävä

.popup#task-lempipaikkani
  if compileWithDocumentation
    .proto__documentation
      p Tehtävän ohjeet. Ensimmäisessä vaiheessa toteutetaan yhden pistemäisen merkinnän lisääminen kartalle, kartan zoomaus ja liikuttaminen.

  .popup__content
    .accordion
      h1.accordion__header Lempipaikkani
      .accordion__item
        h2.accordion__title Merkitse kartalle oma lempipaikkasi
        .accordion__text
          ul.list.type--text
            li.list__item Opettele kartan käyttöä.
            li.list__item Etsi kartalta oma lempipaikkasi.
            li.list__item Merkitse kartalle valitsemasi paikka ja kerro miksi se on sinulle tärkeä.
      
      .accordion__footer
        a.button(href='#map-lempipaikkani', onclick='$(".view__container").addClass("is-loaded")') Jatka tehtävää

.popup#mark
  .popup__content
    .form.type--basic

      .popup__header
        a.popup__header-link.type--back(href='#map-lempipaikkani')
        h1.popup__header-title Uusi merkintä

      .form__image#imageAdd
        .form__image-placement
          .text(onclick='$("#imageChange").show();$(this).parents(".form__image").hide()') Lisää kuva

      .form__image#imageChange(style='display:none')
        .form__image-placement
          .form__image-placement-cover(style='background-image:url(images/image.jpg)')
          .form__image-placement-buttons
            .text(onclick='$("#imageAdd").show();$(this).parents(".form__image").hide()') Vaihda kuva
            .text.type--remove(onclick='$("#imageAdd").show();$(this).parents(".form__image").hide()') Poista kuva
            

      .form__text
        .form__text-title Koordinaatit
        .form__text-value 60°10′15″N, 024°56′15″E

      .form__item
        label Nimi
        input(type='text')
      .form__item
        label Kuvaus
        textarea
      .form__footer
        a.button(href='#map-lempipaikkani') Tallenna merkintä


.popup#mark-view
  .popup__content
    .form.type--basic

      .popup__header
        a.popup__header-link.type--back(href='#map-lempipaikkani')
        h1.popup__header-title Kallen lempipaikka

      .form__image
        .form__image-placement
          .form__image-placement-preview(style='background-image:url(images/image.jpg)')

      .form__text
        .form__text-title Koordinaatit
        .form__text-value 60°10′15″N, 024°56′15″E

      .form__item
        label Nimi
        .form__value Kallen lempipaikka
      .form__item
        label Kuvaus
        .form__value Pieni kivi puron vieressä.
      .form__footer
        
        a.button(href='#map-lempipaikkani') Muokkaa merkintää
        a.button.type--secondary(href='#map-lempipaikkani') Poista merkintä


.view__container
  .view__header.type--map
    a.view__header-link.type--back(href='#dashboard')
    h1.view__header-title Lempipaikkani
    a.view__header-link.type--info(href='#task-lempipaikkani') Ohjeet

  .map__wrapper

    .map__info.type--error
      .map__info-text 
        .text Jokin meni vikaan, yritä uudestaan
        .map__info-close
          
    .map__zoom
      .map__zoom-in
      .map__zoom-out
      .map__center
      .map__location

      .map__layers(onclick='this.classList.toggle("is-selected")')
        .map__layers-dropdown
          .map__layers-dropdown-content
            .map__layers-dropdown-row
              .link Karttataso 1
            .map__layers-dropdown-row
              .link Karttataso 2
            .map__layers-dropdown-row
              .link Karttataso 3
            .map__layers-dropdown-row
              .link Karttataso 4

    .map__tools
      a.map__tools-dot(href='#mark')
      a.map__tools-area(href='#mark')  
      .map__tools-coords 60°10′15″N, 024°56′15″E

    .map__pointers
      a.map__pointer(style='top:300px;left:190px;', href='#mark-view')


    .placeholder__map