<form (ngSubmit)="addTask()" #newTaskForm="ngForm">
  <div class="list__item-title">Lataa tehtävä koodilla.</div>
  <div class="list__item-error" *ngIf="formError == 'not found'">
    <div class="text">Tehtävää ei löytynyt. Tarkista että koodi on oikein ja yritä uudestaan.</div>
  </div>
  <div class="list__item-footer">
    <div class="list__item-input">
      <input type="text" class="input--code" maxlength="1" required [(ngModel)]="model.code[0]" id="code0" name="code0" #code0="ngModel" (keyup)="setKeyIfOk(0, $event.key)" (paste)="handlePaste($event)">
      <input type="text" class="input--code" maxlength="1" required [(ngModel)]="model.code[1]" id="code1" name="code1" #code1="ngModel" (keyup)="setKeyIfOk(1, $event.key)">
      <input type="text" class="input--code" maxlength="1" required [(ngModel)]="model.code[2]" id="code2" name="code2" #code2="ngModel" (keyup)="setKeyIfOk(2, $event.key)">
      <input type="text" class="input--code" maxlength="1" required [(ngModel)]="model.code[3]" id="code3" name="code3" #code3="ngModel" (keyup)="setKeyIfOk(3, $event.key)">
      <input type="text" class="input--code" maxlength="1" required [(ngModel)]="model.code[4]" id="code4" name="code4" #code4="ngModel" (keyup)="setKeyIfOk(4, $event.key)">
    </div>
  </div>
</form>
