<div class="popup" *ngIf="visible">
  <div class="popup__content">
    <div class="popup__scroll">
      <div class="accordion popup__bottom-padding">
        <h1 class="accordion__header">{{task?.name}}</h1>
        <div class="accordion__item">
          <ng-container *ngFor="let i of task?.instructions">
            <h2 class="accordion__title">{{i.name}}</h2>
            <div class="accordion__text">
              <ul class="list type--text">
                <li class="list__item" class="html_content" [innerHTML]="i.description"></li>
              </ul>
            </div>
          </ng-container>
        </div>
      </div>
    </div>
    <div class="popup__footer">
      <div class="popup__footer-links">
        <a class="link" (click)="close()">{{'map.continue-task' | translate}}</a>
      </div>
    </div>
  </div>
</div>