<div id="mark" class="popup" *ngIf="visible">
  <div class="popup__content">
    <div class="form type--basic">
      <div class="popup__header"><a (click)="close();" class="popup__header-link type--back"></a>
        <h1 class="popup__header-title" *ngIf="model.isNew">Uusi merkintä</h1>
        <h1 class="popup__header-title" *ngIf="!model.isNew">Päivitä merkintää</h1>
      </div>
      <div class="form__text">
        <div class="form__text-title">Koordinaatit</div>
        <div class="form__text-value">{{mark.lat}} {{mark.lon}} 60°10′15″N, 024°56′15″E</div>
      </div>
      <div class="form__item">
        <label>Nimi</label>
        <input [(ngModel)]="mark.name" type="text">
      </div>
      <div class="form__item">
        <label>Kuvaus</label>
        <textarea [(ngModel)]="mark.description"></textarea>
      </div>
      <div class="form__footer"><a class="button" (click)="remove();">Poista merkintä</a></div>
      <div class="form__footer"><a class="button" (click)="save();">Tallenna merkintä</a></div>
    </div>
  </div>
</div>