<div class="map__wrapper">
  <app-message></app-message>
  <!--
  <div *ngFor="let message of messages">
    <div class="map__info" [ngClass]="message.class">
      <div class="map__info-text">
        <div class="text">{{ message.description }}</div>
        <div (click)="closeMessage(message)" class="map__info-close"></div>
      </div>
    </div>
  </div>
  -->
  <div class="map__zoom">
    <div (click)="zoomIn()" class="map__zoom-in" title="Lähennä"></div>
    <div (click)="zoomOut()" class="map__zoom-out" title="Loitonna"></div>
    <div (click)="zoomToLocation()" class="map__center map__location" title="Keskitä omaan sijaintiin"></div>
    <div (click)="resetMapLocation()" class="map__center" title="Peruuta"></div>
    <select title="Taustakartta" class="map_center" *ngIf="mapLayers && mapLayers.length > 0" (change)="selectLayer($event.target.value)">
      <ng-template ngFor let-layer [ngForOf]="mapLayers">
        <option [value]="layer.id" [attr.selected]="selectedLayer == layer ? 'selected' : null">{{layer.name}}</option>
      </ng-template>
    </select>
  </div>
  <div class="map__tools">
    <a *ngIf="mapTools['markerTool']" (click)="toggleMarkerAction()" class="map__tools-dot" [ngClass]="markerAction == true ? 'is-selected' : ''" title="Merkitse piste"></a>
    <a *ngIf="mapTools['areaTool']" (click)="toggleDrawAreaAction()" class="map__tools-area" [ngClass]="drawAreaAction == true ? 'is-selected' : ''" title="Merkitse alue"></a>
    <a *ngIf="mapTools['trackLocation']" (click)="toggleTrackLocation()" class="map__tools-dot" [ngClass]="trackLocation == true ? 'is-selected' : ''" title="Seuraa sijaintiasi"></a>
    <a *ngIf="mapTools['measureLineTool']" (click)="toggleMeasureLine()" class="map__tools-dot" [ngClass]="measureLineAction == true ? 'is-selected' : ''" title="Mittaa etäisyys"></a>
    <a *ngIf="mapTools['measureAreaTool']" (click)="toggleMeasureArea()" class="map__tools-dot" [ngClass]="measureAreaAction == true ? 'is-selected' : ''" title="Mittaa pinta-ala"></a>
    <div class="map__tools-coords" *ngIf="coordinates">N:{{coordinates.lat.asString(3)}} E:{{coordinates.lon.asString(3)}}</div>
  </div>
  <iframe *ngIf="env == 'dev'" id="oskari-map" src="https://kartta.paikkatietoikkuna.fi/published/fi/87e9ad3a-a91f-4888-8262-4fc625102ee1"></iframe>
  <iframe *ngIf="env == 'aws-test'" id="oskari-map" src="https://kartta.paikkatietoikkuna.fi/published/fi/57a9c23a-ae7c-430e-8a8f-dd0d3e4caa0a"></iframe>
  <iframe *ngIf="env == 'aws-prod'" id="oskari-map" src="https://kartta.paikkatietoikkuna.fi/published/fi/599edeed-c386-42d5-b5fa-84746f4f4fd0"></iframe>
</div>
<app-result-item (saveResultItem)="saveResultItem($event)" (deleteResultItem)="deleteResultItem($event)" (resultItemPopupHidden)="resultItemPopupHidden($event)"
  [visible]="resultItemPopupVisible" [result]="resultItemPopupResult" [model]="resultItemPopupResultItem">
</app-result-item>