<div id="task-lempipaikkani-aloita" class="popup" *ngIf="visible">
  <div class="proto__documentation">
    <p>Tehtävän ohjeet. Ensimmäisessä vaiheessa toteutetaan yhden pistemäisen merkinnän lisääminen kartalle, kartan zoomaus ja liikuttaminen.</p>
  </div>
  <div class="view__content">
    <div class="accordion">
      <h1 class="accordion__header">Lempipaikkani</h1>
      <div class="accordion__item">
        <h2 class="accordion__title">Merkitse kartalle oma lempipaikkasi</h2>
        <div class="accordion__text">
          <ul class="list type--text">
            <li class="list__item">Opettele kartan käyttöä.</li>
            <li class="list__item">Etsi kartalta oma lempipaikkasi.</li>
            <li class="list__item">Merkitse kartalle valitsemasi paikka ja kerro miksi se on sinulle tärkeä.</li>
          </ul>
        </div>
      </div>
      <div class="accordion__footer"><a class="button" (click)="close()">Aloita tehtävä</a></div>
    </div>
  </div>
</div>