<div class="view">
    <div class="view__header"><a class="view__header-link type--back" (click)="closeDialog()"></a>
      <h1 class="view__header-title">Uusi tehtäväpohja</h1>
    </div>
    <div class="view__content">
      <div class="view__wizard">
        <div class="view__wizard-back" [ngClass]="{'is-disabled': phase === firstPhase}"></div>
        <div class="view__wizard-step" [ngClass]="{'is-selected': phase === 1}"><a class="link">1. Tehtävän kuvaus</a></div>
        <div class="view__wizard-step" [ngClass]="{'is-selected': phase === 2}"><a class="link">2. Tehtävän askeleet</a></div>
        <div class="view__wizard-step" [ngClass]="{'is-selected': phase === 3}"><a class="link">3. Esikatselu</a></div>
        <div class="view__wizard-forward" [ngClass]="{'is-disabled': phase === lastPhase}"></div>
      </div>
      <!--
      <form (ngSubmit)="submit()" #resultItemForm="ngForm">
        <div class="form__item" [class.has-error]="name.invalid && name.dirty">
          <label>Nimi</label>
          <input type="text" required [(ngModel)]="model.name" name="name" #name="ngModel">
          <div [hidden]="name.valid || name.pristine" class="alert alert-danger">Pakollinen tieto</div>
        </div>
        <div class="form__item">
          <label>Kuvaus</label>
          <textarea [(ngModel)]="model.description" name="description"></textarea>
        </div>
        <div class="form__footer">
          <button type="submit" class="button" [disabled]="!resultItemForm.form.valid || uploader.isUploading">Tallenna merkintä</button>
          <button class="button type--secondary" [disabled]="uploader.isUploading" (click)="delete()" *ngIf="model['id'] != null">Poista merkintä</button>
          <button class="button type--secondary" [disabled]="uploader.isUploading" (click)="close()">Sulje</button>
        </div>
      </form>
      -->
      <div class="form type--basic">
        <div class="view__grid" *ngIf="phase === 1">
          <div class="view__grid-item">
            <div class="form__item">
              <label>Nimi</label>
              <input type="text">
            </div>
            <div class="form__item">
              <label>Lyhyt otsikko</label>
              <input type="text">
            </div>
            <div class="form__item">
              <label>Tehtävän kuvaus</label>
              <textarea></textarea>
            </div>
            <div class="form__item">
              <label>Ohje opettajalle</label>
              <textarea></textarea>
            </div>
            <div class="form__footer"><a class="button" (click)="next()">Jatka</a></div>
          </div>
        </div>
        <div class="view__grid" *ngIf="phase === 2">
          <div class="view__grid-item">
            <div class="form__title">Tehtävän askeleet</div>
            <div class="form__ingress">Ohje aiheesta tulee tähän.</div>
            <div class="form__item">
              <label class="type--step">1.</label>
              <div class="form__row">
                <input type="text" placeholder="Askeleen otsikko" class="type--wysiwyg-title">
              </div>
              <div class="form__row">
                <textarea placeholder="Askeleen ohje" class="type--wysiwyg-text"></textarea>
              </div>
            </div>
            <div id="osio" style="display:none" class="form__item">
              <label class="type--step">2.</label>
              <div class="form__row">
                <input type="text" placeholder="Askeleen otsikko" class="type--wysiwyg-title">
              </div>
              <div class="form__row">
                <textarea placeholder="Askeleen ohje" class="type--wysiwyg-text"></textarea>
              </div>
            </div>
            <div id="osio" style="display:none" class="form__item"></div>
            <div class="form__item type--centered"><a class="button type--form">Lisää uusi askel</a></div>
            <div class="form__footer"><a class="button" (click)="next()">Jatka</a></div>
          </div>
        </div>
        <div class="view__grid" *ngIf="phase === 3">
          <div class="view__grid-item">
            <div class="form__footer"><a class="button" (click)="submit()">Tallenna</a></div>
          </div>
        </div>
      </div>
    </div>
  </div>