- var compileWithDocumentation = true

doctype html
html
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, height=device-height, initial-scale=1')
    meta(name="apple-mobile-web-app-capable", content="yes")
    link(rel="shortcut icon" href="favicon.ico")

    title Paikkaoppi-proto

    link(rel='stylesheet', type='text/css', href="style.css")
    link(rel='stylesheet', type='text/css', href="proto.css")
    script(type='text/javascript', src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-rc1/jquery.slim.min.js')
    script(type='text/javascript', src='script.js')

  body


    .app

      .app__wrapper
        .app__content
          .app__header
            //-

          .view#login
            if compileWithDocumentation
              .proto__documentation
                p Kirjautumisnäkymä. Näytetään staattisena.

            .view__content
              .form.type--login
                .app__logo

                .form__ingress
                  p PaikkaOppi on kouluille maksuton verkkopohjainen oppimisympäristö.

                .form__item
                  label Käyttäjänimi
                  input(type='text', value='oppilas')
                .form__item
                  label Salasana
                  input(type='password')
                .form__footer
                  a.button(href='#dashboard') Kirjaudu sisään

          .view#login-opettaja
            if compileWithDocumentation
              .proto__documentation
                p Kirjaudu opettajana. Näytetään staattisena.

            .view__content
              .form.type--login
                .app__logo

                .form__ingress
                  p PaikkaOppi on kouluille maksuton verkkopohjainen oppimisympäristö.

                .form__item
                  label Käyttäjänimi
                  input(type='text', value='opettaja')
                .form__item
                  label Salasana
                  input(type='password')
                .form__footer
                  a.button(href='#dashboard-opettaja') Kirjaudu sisään

          .view#dashboard-opettaja
            if compileWithDocumentation
              .proto__documentation
                p Opettajan työpöytä. Tehtävälistaus näytetään alkuun staattisena. Linkistä pääsee katsomaan tehtävien ohjeet.

            include partials/_dashboard_opettaja

          .view#dashboard
            if compileWithDocumentation
              .proto__documentation
                p Oppilaan työpöytä. Tehtävälistaus näytetään staattisena. Linkistä pääsee katsomaan tehtävien ohjeet.

            include partials/_dashboard_oppilas
            
            
          .view#map-lempipaikkani
            if compileWithDocumentation
              .proto__documentation
                p Lempipaikkani-kartta. Aluksi toteutetaan kartan zoomaaminen ja liikuttaminen sekä pistemäisen merkinnän lisääminen.
            
            include partials/_tehtava_lempipaikka


          .view#map-suomivisa
            if compileWithDocumentation
              .proto__documentation
                p Suomivisa-kartta. Suomivisassa tarvitaan kartan liikuttamista ja zoomaamista. Itse tehtävä tehdään muualla kuin PaikkaOpissa.
            
            include partials/_tehtava_suomivisa.jade

          .view#map-karttaesitys
            if compileWithDocumentation
              .proto__documentation
                //-

            include partials/_tehtava_karttaesitys
            
          .view#library
            if compileWithDocumentation
              .proto__documentation
                p Tehtäväkirjasto. Toteutetaan aluksi staattisena. Opettajat ja oppilaat voivat selata täällä julkisia tehtäviä, sekä aloittaa haluamansa tehtävän.           
              
            include partials/_kirjasto

