doctype html
html
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, height=device-height, initial-scale=1')
    meta(name="apple-mobile-web-app-capable", content="yes")
    link(rel="shortcut icon" href="favicon.ico")

    title Paikkaoppi-proto

    link(rel='stylesheet', type='text/css', href="style.css")
    script(type='text/javascript', src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-rc1/jquery.slim.min.js')
    script(type='text/javascript', src='script.js')

  body


    .app

      .app__wrapper
        .app__content
          .app__header
            //-

          .view#login

            .view__content

              .form.type--login

                .form__ingress
                  p PaikkaOppi on kouluille maksuton verkkopohjainen oppimisympäristö.

                .form__item
                  label Käyttäjänimi
                  input(type='text')
                .form__item
                  label Salasana
                  input(type='password')
                a.button(href='#dashboard') Kirjaudu sisään
            
          .view#dashboard
            .view__content
              h1 Omat tehtävät

              ul.list.type--basic
                li.list__item 
                  a(href='#task') Luokkaretki
                li.list__item
                  a(href='#task') Tehtävä 1
                li.list__item
                  a(href='#task') Tehtävä 2

              a(href='#settings') Asetukset

          .view#map
            p Tähän tulee kartta
            a(href='#task') Ohjeet
            a(href='#dashboard') Takaisin

          .view#settings
            a(href='#dashboard') Takaisin

          .view#task
            .view__content
              .accordion
                .accordion__item
                  h2.accordion__title Tutustukaa projektiin ja suunnitelkaa omaa työtä
                  .accordion__text
                    ul.list.type--text
                      li.list__item Tutustukaa yhdessä projektiin sekä sen tavoitteisiin ja arviointiin.
                      li.list__item Jakautukaa ryhmiin.
                      li.list__item Aloittakaa ryhmien maskottien suunnittelu ja valmistaminen. Maskotit esiintyvät myöhemmin ottamissanne kuvissa valituista retkikohteista.  Maskotit voidaan lopuksi sijoittaa myös luokan yhteiseen projektikoosteeseen (katso kuva vaiheessa 7).
                .accordion__item
                  h2.accordion__title Harjoitelkaa kartta-alustan käyttöä
                  .accordion__text
                    ul.list.type--text
                      li.list__item Tutustukaa PaikkaOpin kartta-alustaan ja oman kunnan karttaan esimerkiksi Paikkatiedon ABC -tehtävien avulla.
                      li.list__item Harjoitelkaa myös pistekohteen tallentamista kartta-alustalle.
              a.button(href='#map') Aloita tehtävä

