- var compileWithDocumentation = false

doctype html
html
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, height=device-height, initial-scale=1, maximum-scale=1, user-scalable=no')
    meta(name="apple-mobile-web-app-capable", content="yes")

    link(rel="apple-touch-icon", sizes="152x152", href="assets/apple_icon-152.png")
    link(rel="shortcut icon" href="assets/apple_icon-152.png")

    title Paikkaoppi-proto

    
    link(rel='stylesheet', type='text/css', href="style.css")
    link(rel='stylesheet', type='text/css', href="login.css")
    link(rel='stylesheet', type='text/css', href="proto.css")
     
    script(type='text/javascript', src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-rc1/jquery.slim.min.js')
    script(type='text/javascript', src='script.js')

  body


    .app.variant--1

      .app__wrapper
        .app__content

          .view#login
            if compileWithDocumentation
              .proto__documentation
                p Kirjautumisnäkymä. Näytetään staattisena.

            .view__index
              .view__index-columns
                
                .view__index-column
                  .form.type--login
                    .app__logo

                    .form__ingress
                      p 
                        strong PaikkaOppi.fi on kouluille maksuton verkkopohjainen oppimisympäristö. 

                      p PaikkaOppi sisältää työkaluja paikkatietotaitojen perusteiden hallintaan sekä ohjeita paikkatiedon soveltavaan käyttöön eri oppiaineissa ja monialaisissa oppimiskokonaisuuksissa. 

                      p Oppimisympäristön interaktiivinen kartta toimii projektialustana oppilaiden omille ympäristöhavainnoille ja kokemuksille. 

                    .form__footer
                      a.button(href='#dashboard') Kirjaudu sisään
                .view__index-column
                  .image__index
                    img(src='assets/pirate_scene.png', width='600px')

          .view#login-opettaja
            if compileWithDocumentation
              .proto__documentation
                p Kirjaudu opettajana. Näytetään staattisena.

            .view__content
              .form.type--login
                .app__logo

                .form__ingress
                  p PaikkaOppi on kouluille maksuton verkkopohjainen oppimisympäristö.

                .form__item
                  label Käyttäjänimi
                  input(type='text', value='opettaja')
                .form__item
                  label Salasana
                  input(type='password')
                .form__footer
                  a.button(href='#dashboard-opettaja') Kirjaudu sisään

          .view#dashboard-opettaja
            if compileWithDocumentation
              .proto__documentation
                p Opettajan työpöytä. Tehtävälistaus näytetään alkuun staattisena. Linkistä pääsee katsomaan tehtävien ohjeet.

            include partials/_dashboard_opettaja

          .view#dashboard
            if compileWithDocumentation
              .proto__documentation
                p Oppilaan työpöytä. Tehtävälistaus näytetään staattisena. Linkistä pääsee katsomaan tehtävien ohjeet.

            include partials/_dashboard_oppilas
            
            
          .view#map-lempipaikkani
            if compileWithDocumentation
              .proto__documentation
                p Lempipaikkani-kartta. Aluksi toteutetaan kartan zoomaaminen ja liikuttaminen sekä pistemäisen merkinnän lisääminen.
            
            include partials/_tehtava_lempipaikka


          .view#map-suomivisa
            if compileWithDocumentation
              .proto__documentation
                p Suomivisa-kartta. Suomivisassa tarvitaan kartan liikuttamista ja zoomaamista. Itse tehtävä tehdään muualla kuin PaikkaOpissa.
            
            include partials/_tehtava_suomivisa.jade

          .view#map-karttaesitys
            if compileWithDocumentation
              .proto__documentation
                //-

            include partials/_tehtava_karttaesitys
            
          .view#library
            if compileWithDocumentation
              .proto__documentation
                p Tehtäväkirjasto. Toteutetaan aluksi staattisena. Opettajat ja oppilaat voivat selata täällä julkisia tehtäviä, sekä aloittaa haluamansa tehtävän.           
              
            include partials/_kirjasto_oppilas

          .view#library-opettaja
            if compileWithDocumentation
              .proto__documentation
                p Opettajan tehtäväkirjasto. Toteutetaan aluksi staattisena. Opettaja voi luoda uuden tehtävän, nimetä sen ja se tulee näkyviin opettajan työpöydälle. Muut käyttäjät voivat liittyä siihen syöttämällä tehtävän koodin.         
              
            include partials/_kirjasto_opettaja


          .view#uusi-tehtavapohja
            include partials/_uusi_tehtavapohja





