doctype html
html
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, height=device-height, initial-scale=1')
    meta(name="apple-mobile-web-app-capable", content="yes")
    link(rel="shortcut icon" href="favicon.ico")

    title Paikkaoppi-proto

    link(rel='stylesheet', type='text/css', href="style.css")
    link(rel='stylesheet', type='text/css', href="proto.css")
    script(type='text/javascript', src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-rc1/jquery.slim.min.js')
    script(type='text/javascript', src='script.js')

  body


    .app

      .app__wrapper
        .app__content
          .app__header
            //-

          .view#login
            .proto__documentation
              p Kirjautumisnäkymä. Näytetään staattisena.

            .view__content
              .form.type--login
                .app__logo

                .form__ingress
                  p PaikkaOppi on kouluille maksuton verkkopohjainen oppimisympäristö.

                .form__item
                  label Käyttäjänimi
                  input(type='text')
                .form__item
                  label Salasana
                  input(type='password')
                a.button(href='#dashboard') Kirjaudu sisään

          .view#dashboard
            .proto__documentation
              p Oppilaan työpöytä. Tehtävälistaus näytetään staattisena. Linkistä pääsee katsomaan tehtävien ohjeet.

            .view__content

              .view__columns
                
                .view__column
                  h1 Omat tehtävät

                  ul.list.type--basic
                    li.list__item
                      a(href='#task-lempipaikkani') Lempipaikkani
                    //- li.list__item 
                    //-   a(href='#task-luokkaretki') Luokkaretki

                .view__column
                  .profile
                    .profile__item
                      .profile__image
                        img(src='assets/monster.png')
                    .profile__item
                      label Kalle Kirjautunut
                    .profile__item
                      label kalle.kirjautunut@koulu.fi
                    .profile__footer
                      .profile__footer-item
                        a(href='#settings') Muokkaa asetuksia
                      .profile__footer-item
                        a(href='#login') Kirjaudu ulos

          .view#map-lempipaikkani
            .proto__documentation
              p Lempipaikkani-kartta. Aluksi toteutetaan kartan zoomaaminen ja liikuttaminen sekä pistemäisen merkinnän lisääminen.

            .view__header
              a.view__header-link(href='#dashboard') Takaisin
              a.view__header-link(href='#task-lempipaikkani') Ohjeet
            
            .map__wrapper
              .map__zoom
                .map__zoom-in
                .map__zoom-out

              .placeholder__map
            
          //- .view#map-luokkaretki
          //-   .view__header
          //-     a.view__header-link(href='#dashboard') Takaisin
          //-     a.view__header-link(href='#task-luokkaretki') Ohjeet
            
          //-   .map__wrapper
          //-     .placeholder__map
            


          .view#settings
            .proto__documentation
              p Omien tietojen ylläpito. Toteutetaan alkuun staattisena näkymänä.            
            
            .view__content
            
              .form.type--settings

                a(href='#dashboard') Takaisin

                .profile__item
                  .profile__image
                    img(src='assets/monster.png')

                .form__item
                  label Nimi
                  input(type='text')
                .form__item
                  label Sähköpostiosoite
                  input(type='email')

                
                a.button(href='#dashboard') Tallenna asetukset

          .view#task-lempipaikkani
            .proto__documentation
              p Tehtävän ohjeet. Ensimmäisessä vaiheessa toteutetaan yhden pistemäisen merkinnän lisääminen kartalle, kartan zoomaus ja liikuttaminen.

            .view__content
              .accordion
                .accordion__item
                  h2.accordion__title Merkitse kartalle oma lempipaikkasi
                  .accordion__text
                    ul.list.type--text
                      li.list__item Opettele kartan käyttöä.
                      li.list__item Etsi kartalta oma lempipaikkasi.
                      li.list__item Merkitse kartalle valitsemasi paikka ja kerro miksi se on sinulle tärkeä.
                
                .accordion__footer
                  a.button(href='#map-lempipaikkani') Aloita tehtävä

          //- .view#task-luokkaretki
          //-   .proto__documentation
          //-     p Tehtävän ohjeet. Luokkaretki-tehtävä toteutetaan vaiheessa kaksi.
          //-   .view__content
          //-     .accordion
          //-       .accordion__item
          //-         h2.accordion__title Tutustukaa projektiin ja suunnitelkaa omaa työtä
          //-         .accordion__text
          //-           ul.list.type--text
          //-             li.list__item Tutustukaa yhdessä projektiin sekä sen tavoitteisiin ja arviointiin.
          //-             li.list__item Jakautukaa ryhmiin.
          //-             li.list__item Aloittakaa ryhmien maskottien suunnittelu ja valmistaminen. Maskotit esiintyvät myöhemmin ottamissanne kuvissa valituista retkikohteista.  Maskotit voidaan lopuksi sijoittaa myös luokan yhteiseen projektikoosteeseen (katso kuva vaiheessa 7).
          //-       .accordion__item
          //-         h2.accordion__title Harjoitelkaa kartta-alustan käyttöä
          //-         .accordion__text
          //-           ul.list.type--text
          //-             li.list__item Tutustukaa PaikkaOpin kartta-alustaan ja oman kunnan karttaan esimerkiksi Paikkatiedon ABC -tehtävien avulla.
          //-             li.list__item Harjoitelkaa myös pistekohteen tallentamista kartta-alustalle.
          //-       .accordion__footer
          //-         a.button(href='#map-luokkaretki') Aloita tehtävä
