.placeholder__map {
  position: absolute;
  background: url("../assets/map.png") no-repeat top left;
  background-size: cover;
  top: 60px;
  left: 0;
  right: 0;
  bottom: 0;
}
@media print {
  .app,
  .app__wrapper,
  .app__content {
    position: static !important;
  }
  .view {
    position: relative;
    width: 100%;
    display: block !important;
    page-break-after: always;
  }
}
