

//- PLACEHOLDERS
.placeholder__map
  position absolute
  background url(../assets/map.png) no-repeat top left
  background-size cover
  top 0
  left 0
  right 0
  bottom 0

.proto__documentation
	display none  


//- PRINT
//- Print on landscape for documentation

@media print
	.app,
	.app__wrapper,
	.app__content
		position static !important
	.view
		position relative
		width 100%
		height 100vh
		display block !important
		page-break-after always
	.proto__documentation
		display block
		position absolute
		right 0
		bottom 0
		width 40%
		background alpha(#fdeee5,.9)
		padding 30px
		z-index 100
		p:last-child
			margin-bottom 0
		