font_family = 'Source Sans Pro'
font_weights = '300,400,700,900'

brand_color = ( linear-gradient(65deg, #F05348, #E1854B) #F05348 darken(#F05348, 20) #E1854B )
ui_color = ( #35b577 #ffb448 #FF312E #587792 )
neutral = ( #FAF7F5 #F5F5F5 darken(#F5F5F5,5) )
text_color = ( #333 #888 )

base_font_size = 100%
base_line_height = 1.55
base_smooth_font = true

placeholder_color = darken(text_color[1],10)
placeholder_weight = 400

base_font_weight = 400
title_font_weight = 700
thin_font_weight = 300
bold_font_weight = 600

border_radius = 30px

base_padding = 25px

media_medium = 720px
media_large = 1080px

input_border_color = #333
input_border_radius = 1px
input_padding = 5px 10px

button_weight = bold_font_weight
button_font_size = 1rem
button_border = none
button_border_radius = 30px
button_padding = 15px 35px
button_background = brand_color[0]
button_color = #fff

max_text_width = 600px
page_max_width = 1100px
page_header_height = 3.6rem
main_navigation_width = 300px

size_h5 = 1rem
size_h4 = 1.1 * size_h5 rem
size_h3 = 1.1 * size_h4 rem
size_h2 = 1.1 * size_h3 rem
size_h1 = 1.1 * size_h2 rem


noselect()
  -webkit-user-select none
  -moz-user-select none
  user-select none


color_primary = brand_color[1]

color_link = color_primary
color_link_visited = color_primary
color_link_hover = lighten(color_primary,5)
color_link_active = color_primary

link()
  color color_link
  cursor pointer
  transition color 120ms linear
  &:visited
    color color_link_visited
  &:hover
    color color_link_hover
  &:active
    color color_link_active

 
@keyframes appear
  0%
    transform rotateX(-90deg)
  40%
    transform rotateX(0deg)
  70%
    transform rotateX(60deg)
  100%
    transform rotateX(0deg)

@keyframes appear-easy
  0%
    visibility hidden
    transform translateY(0)
  10%
    transform translateY(0)
    visibility visible
  20%
    transform translateY(-20px)
  55%
    transform translateY(0)
  60%
    transform translateY(10px)
  100%
    transform translateY(0)

@keyframes fade-in
  0%
    opacity 0
  100%
    opacity 1


@import url('//fonts.googleapis.com/css?family='+ replace(' ', '+', font_family) +':'+ font_weights);

*
  box-sizing border-box
  &:focus
    outline none

html
  font-size base_font_size

html, body
  margin 0
  padding 0
  

body
  font-family font_family, sans-serif
  line-height base_line_height
  font-weight base_font_weight
  color text_color[0]
  if base_smooth_font
    -webkit-font-smoothing antialiased
    -moz-osx-font-smoothing grayscale

h1, h2, h3, h4, h5
  line-height .8 * base_line_height
  margin 0 0 .5em 0
  font-weight title_font_weight

h1
  font-size size_h1
h2
  font-size size_h2
h3
  font-size size_h3
h4
  font-size size_h4
h5
  font-size size_h5

p
  margin 0 0 1em 0
  padding 0

a
  text-decoration none
  color inherit
  cursor pointer
  
input, select, button, textarea
  -webkit-appearance none
  appearance none
  font-family inherit
  font-size 100%
  font-weight base_font_weight
  line-height base_line_height
  transition box-shadow 80ms linear
  max-width 100%
  if base_smooth_font
    -webkit-font-smoothing antialiased
    -moz-osx-font-smoothing grayscale
  &:disabled
    opacity .5
    cursor default

textarea
  width 100%
  height 140px
  resize vertical


button()
  -webkit-appearance none
  appearance none
  display inline-block
  vertical-align middle
  cursor pointer
  font-weight button_weight
  font-size button_font_size
  line-height 1
  border button_border
  padding button_padding
  white-space nowrap
  border-radius button_border_radius
  transition all 160ms linear
  background button_background
  color button_color
  text-align center
  margin 10px auto
  noselect()
 
.button
  button()

input()
  border 1px solid input_border_color
  border-radius input_border_radius
  padding input_padding
  min-height 2.8rem
  display block
  margin 0
  
.input, input
  input()
  &.has-error
    border-color brand_color[0]
    &:focus
      border-color brand_color[0]

.input, 
input[type=text], 
input[type=tel], 
input[type=email], 
input[type=password]
  width 100%

textarea
  border 1px solid input_border_color
  min-height 80px
  margin-bottom -4px
  padding input_padding
  border-radius input_border_radius
  resize vertical

input[type=checkbox],
input[type=radio]
  width 22px
  height @width
  min-width 24px
  display inline-block
  vertical-align middle
  margin 0 10px 0 0
  position relative
  min-height 0
  &:checked
    background #fff
    &:before
      content ''
      background no-repeat center center
      background-image url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAxNTQgMTE0Ljg2Ij48ZGVmcz48c3R5bGU+LmNscy0xe2ZpbGw6bm9uZTtzdHJva2U6IzAwMDtzdHJva2UtbGluZWNhcDpyb3VuZDtzdHJva2UtbGluZWpvaW46YmV2ZWw7c3Ryb2tlLXdpZHRoOjI0cHg7fTwvc3R5bGU+PC9kZWZzPjx0aXRsZT5Bc3NldCAxPC90aXRsZT48ZyBpZD0iTGF5ZXJfMiIgZGF0YS1uYW1lPSJMYXllciAyIj48ZyBpZD0iTGF5ZXJfMS0yIiBkYXRhLW5hbWU9IkxheWVyIDEiPjxwb2x5bGluZSBjbGFzcz0iY2xzLTEiIHBvaW50cz0iMTAgNjIuNSA1MS41IDEwOCAxNDQgMTAiLz48L2c+PC9nPjwvc3ZnPg==')
      width 100%
      height @width
      background-size 15px
      display inline-block
      vertical-align top
      position absolute
      top 0
      left 0
input
  input()

placeholder()
  color placeholder_color
  font-style italic
  font-family inherit
  line-height line_height
  font-size 100%
  font-weight placeholder_weight
  if base_smooth_font
    -webkit-font-smoothing antialiased
    -moz-osx-font-smoothing grayscale

::-webkit-input-placeholder {
   placeholder()
}

::-moz-placeholder {  /* Firefox 19+ */
   placeholder()
}

:-ms-input-placeholder {
   placeholder()
}

ul
  list-style none
  padding 0
  margin 0


//- APP
//- Base container and layout

.app
  position absolute
  top 0
  left @top
  right @top
  bottom @top
  overflow hidden

.app__wrapper
  position absolute
  top 0
  left @top
  right @top
  bottom @top
  overflow hidden
  height 100vh
  
.app__content
  position absolute
  top 0
  left @top
  right @top
  bottom @top
  overflow-x hidden
  overflow-y auto

.app__logo
  background url(assets/Paikkaoppi_logo.png)
  background-size cover
  width 180px
  height 50px 
  margin base_padding auto


//- TITLES

.title__list
  margin 35px 0 25px 0
  font-size size_h2
  &:first-of-type
    margin-top 0


//- POPUP

.popup
  position fixed
  top 0
  left 0
  right 0
  bottom 0
  z-index 1000
  background alpha(#000,.4)
  animation fade-in 200ms ease-in
    
.popup__content
  text-align left
  padding base_padding
  animation appear-easy 500ms ease-in 200ms
  transform-style preserve-3d
  overflow-x hidden
  overflow-y auto
  position absolute
  top 0 
  bottom 0
  left 0
  right 0
  background #fff
  @media (min-width: media_medium)
    left 20vw
    right @left
    width 60vw
    


.popup__header
  padding 0 0 35px 0
  display flex
  align-items center
  
.popup__header-link
  font-weight bold_font_weight
  cursor pointer
  &.type--back
    &:before
      content url(assets/icon_arrow-l.svg)
      display inline-block
      vertical-align bottom
      width 20px
      margin 0 20px -3px 0

.popup__header-title
  margin 0
  font-size size_h4
  flex 1


//- VIEW
//- Holds a single view of the application

.view
  // General wrapper
  text-align center
  height 100%

.view__content
  //- Restricted width wrapper
  max-width page_max_width
  margin 0 auto
  text-align left
  padding base_padding
  height 100%
  
.view__header
  position absolute
  top 0
  left 0
  right 0
  height page_header_height
  text-align left
  padding 0 base_padding
  display flex
  align-items center
  position relative
  z-index 3
  max-width page_max_width
  margin 0 auto
  &.type--map
    box-shadow 0 2px 12px alpha(#000,.5)
    max-width none
    padding 0 15px
  
.view__header-title
  margin 0
  font-size size_h4
  flex 1

.view__header-link
  font-weight bold_font_weight
  cursor pointer
  &.type--back
    &:before
      content url(assets/icon_arrow-l.svg)
      display inline-block
      vertical-align bottom
      width 20px
      margin 0 20px -3px 0

.view__add
  position absolute
  top 0
  right 0
  background brand_color[1]
  border-radius 100%
  width 30px
  height @width
  padding 3px 5px
  text-align center
  box-shadow 2px 2px 8px alpha(#000,.2)
  cursor pointer
  &:before
    content url(assets/icon_plus-w.svg)
    display inline-block
    width 14px


.view__columns
  margin 0 0 20px 0
  @media (min-width: media_medium)
    display flex
    align-items stretch
    height 100%
  
.view__column
  position relative
  
  &:nth-child(1)
    flex 1 0 auto
    @media (min-width: media_medium)
      max-width calc(100vw \- 370px)
    
  &:nth-child(2)
    margin base_padding 0 0 0
    background #efefef
    padding base_padding
    @media (min-width: media_medium)
      min-width 300px
      margin 0 0 0 20px
 

//- Wrapper for view animation, gets is-loaded when the view appears

.view__container
  //-

//- MAP

.map__wrapper
  position absolute
  top page_header_height
  left 0
  right 0
  bottom 0

.map__info
  position absolute
  top 15px
  left 0
  right 0
  text-align center
  z-index 200

.map__info-text
  display inline-block
  vertical-align center
  color brand_color[3]
  border-radius border_radius
  padding 2px 15px
  font-size .92rem
  font-weight bold_font_weight
  background #fff
  box-shadow 2px 2px 12px alpha(#000,.5)
  display inline-flex
  align-items center
  transform-style preserve-3d
  animation appear 1s ease-in-out
  animation-fill-mode forwards
.map__info-close
  cursor pointer
  &:before
    content url(assets/icon_cross.svg)
    display inline-block
    vertical-align center
    width 13px
    margin 3px -2px -3px 7px
    

.map__zoom
  position absolute
  z-index 2
  right 10px
  top 20px
.map__zoom-in,
.map__zoom-out,
.map__center
  width 40px
  height @width
  background #fff
  border-radius 100%
  padding 10px
  box-shadow 2px 2px 12px alpha(#000,.5)
  margin 0 0 8px 0
  cursor pointer
  noselect()
.map__zoom-in
  &:before
    content url(assets/icon_plus.svg)
.map__zoom-out
  &:before
    content url(assets/icon_minus.svg)
.map__center
  margin-top 20px
  &:before
    content url(assets/icon_center.svg)  

.view__container .map__zoom > *
  visibility hidden
  transform-style preserve-3d
  transform rotateX(-90deg)
.view__container.is-loaded .map__zoom > *
  visibility visible
  animation appear 1s ease-in-out
  animation-fill-mode forwards

.map__zoom-in
  animation-delay 900ms
.map__zoom-out
  animation-delay 1200ms
.map__center
  animation-delay 1500ms

.map__tools
  background #fff
  box-shadow 2px 2px 12px alpha(#000,.5)
  position absolute
  left 10px
  bottom 10px
  right 10px
  display inline-block
  z-index 2
  padding 5px 15px
  border-radius border_radius
  display flex
  align-items center
  text-align left
  @media (min-width: media_medium)
    right auto
    min-width 40%

.view__container .map__tools
  visibility hidden
  transform-style preserve-3d
  transform rotateX(-90deg)
.view__container.is-loaded .map__tools
  visibility visible
  animation appear 1s ease-in-out 300ms
  animation-fill-mode forwards

.map__tools-dot,
.map__tools-area
  width 40px
  height @width
  padding 10px
  cursor pointer
  background brand_color[1]
  display inline-block
  border-radius 100%
  box-shadow 2px 2px 10px alpha(#000,.3)
  noselect()
  margin 0 5px 0 0
  &.is-selected
    background brand_color[3]
    box-shadow inset 2px 2px 10px alpha(brand_color[1],.3)    

.map__tools-dot:before
  content url(assets/icon_dot.svg)
  
.map__tools-area:before
  content url(assets/icon_area.svg)

    

.map__tools-coords
  display inline-block
  font-weight bold_font_weight
  margin 0 5px 0 40px
  flex 1 0 auto
  text-align right
  @media (max-width: media_medium)
    display none
  
.map__pointer
  content url(assets/icon_task.svg)
  width 45px
  position absolute
  z-index 1
  cursor pointer

//- LIST

.list
  &.type--basic
    //-
  &.type--tasks
    display flex
    flex-wrap wrap
    margin 0 -15px 0 0
    .list__item
      position relative
      flex 1 0 calc(100% \- 15px)
      margin 0 15px 15px 0
      border 1px solid neutral[3]
      padding 15px 20px
      display flex
      flex-direction column
      justify-content flex-end
      @media (min-width: media_medium)
        flex 1 0 calc(50% \- 15px)
        max-width calc(50% \- 15px)
      &.type--progressing .list__item-link:before
        // content url(assets/icon_task_progressing.svg)
      &.type--done .list__item-link:before
        // 
    .list__item-image
      width calc(100% \+ 20px)
      height 80px
      margin -5px -10px 10px
      background url(assets/map.svg)
      background-size cover
      border 1px solid neutral[3]
    .list__item-title
      font-size size_h4
      font-weight bold_font_weight
      margin 0 0 5px 0
    .list__item-footer
      flex 1 0 auto
      display flex
      flex-direction column
      justify-content flex-end
      margin 25px 0 0 0
    .list__item-detail
      font-size .86rem
      margin -5px 0 0 0
    .list__item-link
      button()
      display block
      padding 10px 15px
      margin 15px 0 5px 0
      &.is-inactive
        opacity .3
        cursor default
    .list__item-info
      margin 15px 0 0 0
      padding 15px 0 0 0
      border-top 1px solid alpha(brand_color[2], .3)
      font-size .88rem
    .list__item-tag
      margin 0 0 10px 0
      .tag
        background neutral[2]
        display inline-block
        line-height 1.1
        padding 2px 5px
        border-radius border_radius
        font-size .82rem
        font-weight bold_font_weight
    .list__item-status
      position absolute
      top 0
      left 2px
      .status
        background brand_color[0]
        color #fff
        display inline-block
        line-height 1.1
        padding 2px 5px
        border-radius border_radius
        font-size .82rem
        font-weight bold_font_weight
    .list__item-code
      margin 15px 0 0 0
      flex 1 0 auto
      display flex
      align-items flex-end
      .code
        background neutral[2]
        display inline-block
        line-height 1.1
        padding 2px 5px
        border-radius border_radius
        font-size .82rem
        font-weight 900
    .list__item-input
      display flex
      align-items center
      .input--code
        border-radius border_radius
        padding 5px 15px
      .button--continue
        background brand_color[0]
        display inline-flex
        align-items center
        padding 10px
        border-radius border_radius
        margin 0 0 0 10px
        &:before
          content url(assets/icon_arrow-r-w.svg)
          display inline-block
          vertical-align bottom
          width 20px
          height @width
            
          

  &.type--tasks-list
    .list__item
      margin 0 0 8px 0      
  &.type--text
    .list__item
      margin 0 0 .5rem 0

.list__item-link
  display inline-block
  padding 0 0 2px 0
  font-weight bold_font_weight
  transition color 120ms linear
  &:hover
    color brand_color[3]


//- FORM

.form

  &.type--login
    max-width 340px
    margin 0 auto
  &.type--settings
    max-width 340px
    margin 0 auto
  &.type--basic
    margin 0 auto
    text-align left

.form__ingress
  text-align center
    
.form__item
  padding 5px 0

.form__footer
  text-align center
  margin 20px 0 0 0
  -webkit-position sticky
  position sticky
  bottom 0


//- ACCORDION

.accordion
  counter-reset accordion__item
  max-width max_text_width
  margin 0 auto

.accordion__header
  margin 0 0 35px 0

.accordion__item
  //

.accordion__title
  font-weight bold_font_weight
  font-size size_h4
  margin 20px 0 10px 0
  &:before
    counter-increment accordion__item
    content counter(accordion__item)'.'
    margin 0 5px 0 0
    
.accordion__footer
  margin 40px 0 0 0
  text-align center
  -webkit-position sticky
  position sticky
  bottom 0


//- PROFILE

.profile
  text-align center

.profile__image
  margin 20px 0 0 0
  width 180px
  height @width
  margin 0 auto base_padding auto
  overflow hidden
  border-radius 100%
  background #fff
  padding 10px
  img
    width 100%
    height 100%

.profile__footer
  margin base_padding 0 0 0
  
.profile__footer-item
  font-weight bold_font_weight
  margin 0 0 10px 0


