font_family = 'Nunito'
font_weights = '300,400,600,700,900'

brand_color = ( linear-gradient(65deg, #F05348, #E1854B) #F05348 darken(#F05348, 20) #E1854B )
ui_color = ( #35b577 #ffb448 #FF312E #587792 )
neutral = ( #FAF7F5 #F5F5F5 darken(#F5F5F5,5) )
text_color = ( #333 #888 )

base_font_size = 95%
base_line_height = 1.45
base_smooth_font = true

placeholder_color = darken(text_color[1],10)
placeholder_weight = 400

base_font_weight = 400
title_font_weight = 700
thin_font_weight = 300
bold_font_weight = 700
semibold_font_weight = 600

border_radius = 30px

base_padding = 25px


media_small = 620px
media_mobile = 940px
media_large = 1180px

input_border_color = #333
input_border_radius = 1px
input_padding = 5px 10px

button_weight = bold_font_weight
button_font_size = 1rem
button_border = none
button_border_radius = 30px
button_padding = 15px 35px
button_background = brand_color[0]
button_color = #fff

max_text_width = 600px
page_max_width = 1100px
page_header_height = 6.6rem
main_navigation_width = 300px

size_h5 = 1rem
size_h4 = 1.1 * size_h5 rem
size_h3 = 1.1 * size_h4 rem
size_h2 = 1.1 * size_h3 rem
size_h1 = 1.1 * size_h2 rem


noselect()
  -webkit-user-select none
  -moz-user-select none
  user-select none


color_primary = brand_color[1]

color_link = color_primary
color_link_visited = color_primary
color_link_hover = lighten(color_primary,5)
color_link_active = color_primary

link()
  color color_link
  cursor pointer
  transition color 120ms linear
  &:visited
    color color_link_visited
  &:hover
    color color_link_hover
  &:active
    color color_link_active

 
@keyframes appear
  0%
    transform rotateX(-90deg)
  40%
    transform rotateX(0deg)
  70%
    transform rotateX(60deg)
  100%
    transform rotateX(0deg)

@keyframes fade-in
  0%
    opacity 0
  100%
    opacity 1

@keyframes float
  0%
    transform translate3d(0,-10px,0)
  50%
    transform translate3d(0,10px,0)
  100%
    transform translate3d(0,-10px,0)
    
@keyframes slide
  0%
    transform translate3d(-50%,-300%,0)
  100%
    transform translate3d(-50%,0,0)
    
@keyframes slide-out
  0%
    transform translate3d(-50%,0,0)
  100%
    transform translate3d(-50%,-300%,0)


@import url('//fonts.googleapis.com/css?family='+ replace(' ', '+', font_family) +':'+ font_weights);

*
  box-sizing border-box
  &:focus
    outline none

html
  font-size base_font_size

html, body
  margin 0
  padding 0
  

body
  font-family font_family, sans-serif
  line-height base_line_height
  font-weight base_font_weight
  color text_color[0]
  if base_smooth_font
    -webkit-font-smoothing antialiased
    -moz-osx-font-smoothing grayscale

h1, h2, h3, h4, h5
  line-height .8 * base_line_height
  margin 0 0 .5em 0
  font-weight title_font_weight

h1
  font-size size_h1
h2
  font-size size_h2
h3
  font-size size_h3
h4
  font-size size_h4
h5
  font-size size_h5

p
  margin 0 0 1em 0
  padding 0

a
  text-decoration none
  color inherit
  cursor pointer
  
input, select, button, textarea
  -webkit-appearance none
  appearance none
  font-family inherit
  font-size 100%
  font-weight base_font_weight
  line-height base_line_height
  transition box-shadow 80ms linear
  max-width 100%
  if base_smooth_font
    -webkit-font-smoothing antialiased
    -moz-osx-font-smoothing grayscale
  &:disabled
    opacity .5
    cursor default

textarea
  width 100%
  height 140px
  resize vertical


button()
  -webkit-appearance none
  appearance none
  display inline-block
  vertical-align middle
  cursor pointer
  font-weight button_weight
  font-size button_font_size
  line-height 1
  border button_border
  padding button_padding
  white-space nowrap
  border-radius button_border_radius
  transition all 160ms linear
  background button_background
  color button_color
  text-align center
  margin 10px auto
  noselect()
 
.button
  button()
  &.type--secondary
    color brand_color[3]
    background none
  &.type--form
    border 1px solid brand_color[1]
    background transparent
    color brand_color[1]
    margin 10px auto
    
input()
  border 1px solid input_border_color
  border-radius input_border_radius
  padding input_padding
  min-height 2.8rem
  display block
  margin 0
  
.input, input
  input()
  &.has-error
    border-color brand_color[0]
    &:focus
      border-color brand_color[0]

.input, 
input[type=text], 
input[type=tel], 
input[type=email], 
input[type=password]
  width 100%

textarea
  border 1px solid input_border_color
  min-height 80px
  margin-bottom -4px
  padding input_padding
  border-radius input_border_radius
  resize vertical

input[type=checkbox],
input[type=radio]
  width 22px
  height @width
  min-width 24px
  display inline-block
  vertical-align middle
  margin 0 10px 0 0
  position relative
  min-height 0
  &:checked
    background #fff
    &:before
      content ''
      background no-repeat center center
      background-image url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAxNTQgMTE0Ljg2Ij48ZGVmcz48c3R5bGU+LmNscy0xe2ZpbGw6bm9uZTtzdHJva2U6IzAwMDtzdHJva2UtbGluZWNhcDpyb3VuZDtzdHJva2UtbGluZWpvaW46YmV2ZWw7c3Ryb2tlLXdpZHRoOjI0cHg7fTwvc3R5bGU+PC9kZWZzPjx0aXRsZT5Bc3NldCAxPC90aXRsZT48ZyBpZD0iTGF5ZXJfMiIgZGF0YS1uYW1lPSJMYXllciAyIj48ZyBpZD0iTGF5ZXJfMS0yIiBkYXRhLW5hbWU9IkxheWVyIDEiPjxwb2x5bGluZSBjbGFzcz0iY2xzLTEiIHBvaW50cz0iMTAgNjIuNSA1MS41IDEwOCAxNDQgMTAiLz48L2c+PC9nPjwvc3ZnPg==')
      width 100%
      height @width
      background-size 15px
      display inline-block
      vertical-align top
      position absolute
      top 0
      left 0
input
  input()

.select__wrapper
  position relative
  border 1px solid input_border_color
  border-radius input_border_radius
  display inline-block
  background #fff
  transform translateZ(0)
  width 100%
  display block
  select
    background transparent
    border-radius 0
    border none
    padding input_padding
    padding-right 34px !important 
    cursor pointer
    width 100%
    -moz-appearance none
    &::-ms-expand
      display none
      visibility hidden

placeholder()
  color placeholder_color
  font-style italic
  font-family inherit
  line-height line_height
  font-size 100%
  font-weight placeholder_weight
  if base_smooth_font
    -webkit-font-smoothing antialiased
    -moz-osx-font-smoothing grayscale

::-webkit-input-placeholder {
   placeholder()
}

::-moz-placeholder {  /* Firefox 19+ */
   placeholder()
}

:-ms-input-placeholder {
   placeholder()
}

ul
  list-style none
  padding 0
  margin 0


//- APP
//- Base container and layout

.app
  position absolute
  top 0
  left @top
  right @top
  bottom @top
  overflow hidden

.app__wrapper
  position absolute
  top 0
  left @top
  right @top
  bottom @top
  overflow hidden
  height 100vh
  
.app__content
  position absolute
  top 0
  left @top
  right @top
  bottom @top
  overflow hidden

.app__logo
  background url(assets/poppi_logo.svg)
  background-size cover
  width 76px
  height 100px 
  margin 0 auto 50px


//- TITLES

.title__list
  margin 35px 0 25px 0
  font-size size_h2
  &:first-of-type
    margin-top 0


//- POPUP

.popup
  position absolute
  top -100px
  left 50%
  width 400px
  max-width 90%
  transform translate3d(-50%,-300%,0)
  backgroud-visibility hidden
  padding 0
  z-index 1000
  animation slide 500ms ease-out
  animation-fill-mode forwards
  transition top 200ms linear
  @media (max-width: media_medium)
    left 20vw
    right @left
    width 60vw
    transform translate3d(0,-300%,0)
  @media (max-height: 739px)
    top -200px
  &.is-closed
    transform translate3d(-50%,0,0)
    animation slide-out 500ms ease-in
    animation-fill-mode forwards
  &:before
    content ''
    display block
    width 100%
    height 280px
    position absolute
    left 0
    top 0
    right 0
    background url(assets/sign_l.svg) no-repeat left top, url(assets/sign_r.svg) no-repeat right top
    background-size 40px 280px, 40px 280px
  &:after
    content ''
    display block
    height 42px
    position absolute
    right 40px
    left 40px
    top 239px
    background #282828
   
.popup__content
  text-align left
  padding 0 45px base_padding
  overflow-x hidden
  overflow-y auto
  -webkit-overflow-scrolling touch
  position relative
  top 279px
  background #282828
  border-radius 0 0 4px 4px
  color #fff
  z-index 1001
  width 400px
  max-width 100%
  max-height calc(100vh \- 279px)
  @media (max-height: 739px)
    max-height calc(100vh \- 209px)
  

  
    


.popup__header
  padding 0 0 25px 0
  display flex
  align-items center
  
.popup__header-link
  font-weight bold_font_weight
  cursor pointer
  &.type--back
    &:before
      content url(assets/icon_arrow-l.svg)
      display inline-block
      vertical-align bottom
      width 20px
      margin 0 20px -3px 0

.popup__header-title
  margin 0
  font-size size_h4
  flex 1


//- VIEW
//- Holds a single view of the application

.view
  // General wrapper
  text-align center
  height 100%

.view__content
  //- Restricted width wrapper
  // max-width page_max_width
  position absolute
  top 3.8rem
  z-index 4
  margin 0 auto
  text-align left
  padding 0
  bottom 0
  width 100%
  -webkit-overflow-scrolling touch
  @media (min-width: media_small)
    padding 0 base_padding 0

.app.variant--1
  .view__header
    background-position 0 0

.app.variant--2
  .view__header
    background-position 100% 0
  
.view__header
  height page_header_height
  text-align left
  padding 0 base_padding
  display flex
  align-items flex-start
  padding-top 20px
  position relative
  z-index 3
  margin 0 auto
  max-width none
  background-image linear-gradient(45deg, #f88043, #f8f7cc 45%, #8F55E7 60%, #7EC3E7 100%)
  background-size 300% auto
  color #fff
  transition background-position 800ms linear
  &.type--map
    padding 0 15px
    background transparent
    top 8px
    display block
    z-index 203
    .view__header-content
      box-shadow 2px 2px 12px alpha(#000,.5)
      background #fff
      color text_color[0]
      padding 15px base_padding
      height 50px
      display inline-flex
      align-items center
      border-radius border_radius
      .view__header-link
        padding 0 0 0 base_padding
      .view__header-link
         &.type--back
          padding 0
          margin 0 20px -5px 0
          &:before  
            content url(assets/icon_arrow-l.svg) 

.view__header-title
  margin 0
  font-size size_h4
  flex 1

.view__header-link
  font-weight bold_font_weight
  cursor pointer
  &.type--back
    &:before
      content url(assets/icon_arrow-l-w.svg)
      display inline-block
      vertical-align bottom
      width 20px
      margin -2px 20px 0 0

.view__add
  background brand_color[1]
  border-radius border_radius
  padding 8px 15px 9px
  position relative
  top -4px
  text-align center
  box-shadow 2px 2px 8px alpha(#000,.2)
  display inline-flex
  align-items center
  cursor pointer
  transform-style preserve-3d
  animation appear 1s ease-in-out
  animation-fill-mode forwards
  color #fff
  line-height 1
  font-size .9rem
  font-weight bold_font_weight
  transition background 800ms linear
  &:before
    content url(assets/icon_plus-w.svg)
    display inline-block
    vertical-align center
    width 11px
    margin 1px 5px -1px 0
    
.app.variant--2
  .view__add
    background darken(#8F55E7,20)


//- MAIN COLUMN LAYOUT

.view__columns
  height 100%
  @media (min-width: media_small)
    display flex
    align-items stretch
    height 100%
    justify-content center
  
.view__column
  position relative
  background #fff
  height 100%
  overflow-y auto
  &:nth-child(1)
    flex 1 0 auto
    padding base_padding
    @media (min-width: media_small)
      max-width calc(100vw \- 370px)
    
  &:nth-child(2)
    margin base_padding 0
    @media (min-width: media_small)
      min-width 300px
      margin 0 0 0 20px
      height calc(100% \- 25px)
    @media (max-width: media_small)
      position fixed
      top 0
      left 0
      width 100vw
      height 100vh
      margin 0
      -webkit-transform translate3d(100%,0,0)
      transform translate3d(100%,0,0)
      transition transform 300ms linear
      &.is-open
        @media (max-width: media_small)
          -webkit-transform translate3d(0,0,0)
          transform translate3d(0,0,0)
      

.view__index-columns
  @media (min-width: media_small)
    display flex
    align-items stretch
    position absolute
    top 0
    left 0
    right 0
    bottom 0
.view__index-column 
  position relative
  
  &:nth-child(1)
    flex 1 0 auto
    padding base_padding
    display flex
    flex-direction column
    justify-content center
    align-items center
    @media (min-width: media_small)
      max-width calc(100vw \- 610px)
    
  &:nth-child(2)
    background linear-gradient(45deg, #f88043, #f8f7cc)
    @media (min-width: media_small)
      min-width 550px
      margin 0 0 0 80px

//- GRID LAYOUT

.view__grid
  //
  
.view__grid-item
  //

//- Wrapper for view animation, gets is-loaded when the view appears

.view__container
  //-

//- MAP

.map__wrapper
  position absolute
  top 0
  left 0
  right 0
  bottom 0

.map__info
  position absolute
  top 15px
  left 0
  right 0
  text-align center
  z-index 200

.map__info-text
  display inline-block
  vertical-align center
  color brand_color[3]
  border-radius border_radius
  padding 2px 15px
  font-size .92rem
  font-weight bold_font_weight
  background #fff
  box-shadow 2px 2px 12px alpha(#000,.5)
  display inline-flex
  align-items center
  transform-style preserve-3d
  animation appear 1s ease-in-out
  animation-fill-mode forwards
.map__info-close
  cursor pointer
  &:before
    content url(assets/icon_cross.svg)
    display inline-block
    vertical-align center
    width 13px
    margin 3px -2px -3px 7px
    

.map__zoom
  position absolute
  z-index 202
  right 10px
  top 20px
.map__zoom-in,
.map__zoom-out,
.map__center,
.map__location,
.map__layers
  width 40px
  height @width
  background #fff
  border-radius 100%
  padding 10px
  box-shadow 2px 2px 12px alpha(#000,.5)
  margin 0 0 8px 0
  cursor pointer
  noselect()
.map__zoom-in
  &:before
    content url(assets/icon_plus.svg)
.map__zoom-out
  &:before
    content url(assets/icon_minus.svg)
.map__center
  margin-top 20px
  &:before
    content url(assets/icon_expand.svg)
.map__location
  &:before
    content url(assets/icon_center.svg)
.map__layers
  width 42px
  padding 8px 9px 10px
  position relative
  &:before
    content url(assets/icon_layers.svg)
  &.is-selected
    background brand_color[3]
    box-shadow inset 2px 2px 10px alpha(brand_color[1],.3)
    &:before
      content url(assets/icon_layers-w.svg)


.map__layers-dropdown
  position absolute
  top 50%
  right 100%
  background #fff
  width 280px
  max-width 100vw
  margin 0 5px 0 0
  transform translateY(-50%)
.map__layers-dropdown-content
  text-align left
.map__layers-dropdown-row
  padding 10px 15px
  border-bottom 1px solid #efefef
  font-weight 600
  transition all 90ms linear
  &:hover
    background brand_color[3]
    color #fff
  &:last-child
    border-bottom none
  &.is-selected
    background brand_color[3]
    color #fff
    

.view__container .map__zoom > *
  visibility hidden
  transform-style preserve-3d
  transform rotateX(-90deg)
.view__container.is-loaded .map__zoom > *
  visibility visible
  animation appear 1s ease-in-out
  animation-fill-mode forwards

.map__zoom-in
  animation-delay 900ms
.map__zoom-out
  animation-delay 1200ms
.map__center
  animation-delay 1500ms

.map__tools
  background #fff
  box-shadow 2px 2px 12px alpha(#000,.5)
  position fixed
  left 10px
  bottom 10px
  right 10px
  display inline-block
  z-index 2
  padding 5px 15px
  border-radius border_radius
  display flex
  align-items center
  text-align left
  @media (min-width: media_small)
    right auto
    min-width 40%

.view__container .map__tools
  visibility hidden
  transform-style preserve-3d
  transform rotateX(-90deg)
.view__container.is-loaded .map__tools
  visibility visible
  animation appear 1s ease-in-out 300ms
  animation-fill-mode forwards

.map__tools-dot,
.map__tools-area
  width 40px
  height @width
  padding 10px
  cursor pointer
  background brand_color[1]
  display inline-block
  border-radius 100%
  box-shadow 2px 2px 10px alpha(#000,.3)
  noselect()
  margin 0 5px 0 0
  &.is-selected
    background brand_color[3]
    box-shadow inset 2px 2px 10px alpha(brand_color[1],.3)

.map__tools-dot:before
  content url(assets/icon_dot.svg)
  
.map__tools-area:before
  content url(assets/icon_area.svg)

    

.map__tools-coords
  display inline-block
  font-weight bold_font_weight
  margin 0 5px 0 40px
  flex 1 0 auto
  text-align right
  @media (max-width: media_small)
    display none
  
.map__pointer
  content url(assets/icon_task.svg)
  width 45px
  position absolute
  z-index 1
  cursor pointer

//- LIST

.list
  &.type--basic
    width 100%
  &.type--tasks
    display flex
    flex-wrap wrap
    margin 0 -15px 0 0
    .list__item
      position relative
      flex 1 0 calc(100% \- 15px)
      margin 0 15px 15px 0
      padding 15px 20px
      display flex
      flex-wrap wrap
      flex-direction column
      justify-content flex-end
      box-shadow 1px 1px 6px alpha(#000,.2)
      @media (min-width: media_mobile)
        flex 1 0 calc(50% \- 15px)
        max-width calc(50% \- 15px)
      @media (min-width: media_large)
        flex 1 0 calc(25% \- 15px)
        max-width calc(25% \- 15px)
      @media (max-width: media_mobile)
        flex-direction row
        padding 5px
      &.is-new
        transform-style preserve-3d
        animation appear 1s ease-in-out
        animation-fill-mode forwards
      &.type--special
        border 1px solid brand_color[1]
      form
        display -webkit-flex
        display flex
        flex-direction column
        flex 1 0 auto
      &.type--code
        box-shadow none
        background brand_color[0]
        color #fff
        @media (max-width: media_mobile)
          flex-direction column
          padding 15px
        
    .list__footer
      flex 1 0 100%
      text-align center
      margin-top 35px
      .link
        link()
        font-weight bold_font_weight
    
    .list__item-content
      flex 1 0 auto

    .list__item-error
      font-size .92rem
      line-height 1.3
      font-weight bold_font_weight
      margin 10px 0 0
      position absolute
      background brand_color[1]
      color #fff
      padding 10px
      top 100%
      z-index 20
      left 0
      right 0
      box-shadow 2px 2px 8px alpha(#000,.4)
      transform-style preserve-3d
      animation appear 1s ease-in-out
      animation-fill-mode forwards
      &:before
        content ''
        position absolute
        bottom 100%
        left 50%
        width: 0; 
        height: 0; 
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
        
        border-bottom: 5px solid brand_color[1];

    .list__item-image
      width calc(100% \+ 20px)
      height 100px
      margin -5px -10px 10px
      background no-repeat center center
      background-size cover
      flex 1 0 auto
      &.type--1
        background-image url(assets/bg_inside.png)
      &.type--2
        background-image url(assets/bg_outside.png) 
      @media (max-width: media_mobile)
        max-width 80px
        max-height 60px
        margin 0 15px 0 0
    .list__item-title
      font-size size_h5
      font-weight semibold_font_weight
      margin 0 0 5px 0
    .list__item-marks
      display flex
    .list__item-mark
      background url(assets/icon_star.svg)
      background-size contain      
      width 9px
      height @width
      margin 0 4px 0 0
      opacity .4
      &.is-done
        opacity 1
    .list__item-type
      position relative
      left -25px
      top -25px
      width 45px
      height @width
      border-radius 100%
      margin-bottom -15px
      box-shadow 2px 2px 6px alpha(#000,.6)
      &.type--1
        background url(assets/bg_outside-s.png)
        background-size cover
      &.type--2
        background url(assets/bg_inside-s.png)
        background-size cover
        
    .list__item-footer
      flex 1 0 auto
      display flex
      flex-direction column
      justify-content flex-end
      margin 25px 0 0 0
      max-width 100%
      @media (max-width: media_mobile)
        margin 5px 0 0 0
    .list__item-detail
      font-size .86rem
      margin -5px 0 0 0
    .list__item-link
      button()
      display block
      padding 10px 15px
      margin 15px 0 5px 0
      &.is-inactive
        opacity .3
        cursor default
      &.type--add
        background brand_color[1]
        &:before
          content url(assets/icon_plus-w.svg)
          display inline-block
          vertical-align center
          width 11px
          margin 0 5px 0 0
    .list__item-info
      margin 15px 0 0 0
      padding 15px 0 0 0
      border-top 1px solid alpha(brand_color[2], .3)
      font-size .88rem
    .list__item-tag
      margin 0 0 10px 0
      .tag
        background neutral[2]
        display inline-block
        line-height 1.1
        padding 2px 5px
        border-radius border_radius
        font-size .82rem
        font-weight bold_font_weight
    .list__item-status
      position absolute
      top 0
      left 2px
      .status
        background brand_color[0]
        color #fff
        display inline-block
        line-height 1.1
        padding 2px 5px
        border-radius border_radius
        font-size .82rem
        font-weight bold_font_weight
    .list__item-code
      margin 15px 0 0 0
      flex 1 0 auto
      display flex
      align-items flex-end
      .code
        background neutral[2]
        display inline-block
        line-height 1.1
        padding 2px 5px
        border-radius border_radius
        font-size .82rem
        font-weight 900
    .list__item-input
      display flex
      align-items center
      .input--code
        border none
        padding 2px 0
        text-align center
        width 17%
        background #fff
        margin-right 4%
        text-transform uppercase
        font-weight 600
        font-size 2rem
        line-height 1
        &:last-child
          margin-right 0
      .button--continue
        background brand_color[0]
        display inline-flex
        align-items center
        padding 10px
        border-radius border_radius
        margin 0 0 0 10px
        border none
        cursor pointer
        display none
        &:before
          content url(assets/icon_arrow-r-w.svg)
          display inline-block
          vertical-align bottom
          width 20px
          height @width
            
          

  &.type--tasks-list
    .list__item
      margin 0 0 8px 0      
  &.type--text
    .list__item
      margin 0 0 .5rem 0

.list__item-link
  display inline-block
  padding 0 0 2px 0
  font-weight bold_font_weight
  transition color 120ms linear
  &:hover
    color brand_color[3]


//- FORM

.form

  &.type--login
    max-width 600px
    margin 0 auto
  &.type--settings
    max-width 340px
    margin 0 auto
  &.type--basic
    margin 0 auto
    text-align left

.form__columns
  display flex

.form__column
  flex 1 0 50%
  &:first-child
    padding-right 5px
  &:nth-child(2)
    padding-left 5px

.form__title
  font-weight bold_font_weight
  margin 15px 0 10px 0
  text-align center
  &:first-of-type
    margin-top 0
    
.form__ingress
  text-align center
  font-size 1.1rem
  strong
    font-size 1.2rem
    
.form__item
  padding 5px 0
  &.type--centered
    text-align center
  label
    font-weight bold_font_weight

.form__row
  margin-bottom 10px

.form__image
  margin 0 0 15px 0

.form__image-placement
  width 100%
  height 180px
  background #efefef
  display flex
  align-items center
  justify-content center
  position relative
  overflow hidden
  .text
    color brand_color[1]
    font-weight 600
    position relative
    z-index 2
    button()
    border 1px solid brand_color[1]
    background transparent
    color brand_color[1]

.form__image-placement-buttons
  display flex
  flex-direction column
  align-items center
  justify-content center
  .text
    margin 0 0 25px 0
    &:last-child
      margin-bottom 0
    &.type--remove
      border none
      border-radius 0
      border-bottom 1px solid brand_color[1]
      padding 0 0 3px 0
    
.form__image-placement-preview
  display block
  position absolute
  top 0
  left 0
  right 0
  bottom 0
  background no-repeat center center
  background-size cover
  

.form__image-placement-cover
  display block
  position absolute
  -webkit-filter blur(3px)
  filter blur(3px)
  top 0
  left 0
  right 0
  bottom 0
  background no-repeat center center
  background-size cover
  &:before
    content ''
    background alpha(#fff,.6)
    top 0
    left 0
    right 0
    bottom 0
    position absolute
    
.form__footer
  text-align center
  margin 25px 0 0 0
  bottom 0
  display flex
  flex-direction column
  .link
    color #f8f7cc
    cursor pointer
    font-weight 700


//- ACCORDION

.accordion
  counter-reset accordion__item
  max-width max_text_width
  margin 0 auto

.accordion__header
  margin 0 0 15px 0
  font-size size_h2

.accordion__item
  //

.accordion__title
  font-weight bold_font_weight
  font-size size_h4
  margin 0 0 10px 0
  line-height 1.4
  &:before
    counter-increment accordion__item
    content counter(accordion__item)'.'
    margin 0 5px 0 0
    
.accordion__footer
  margin 25px 0 0 0
  text-align center
  bottom 0
  .link
    color #f8f7cc
    cursor pointer
    font-weight 700


//- PROFILE

.profile
  text-align center
  display flex
  flex-direction column
  height 100%
  padding base_padding
  background #262626
  color #fff
  overflow-y auto

.profile__header-back
  @media (min-width: media_small)
    display none

.view__profile-show
  width 35px
  height @width
  max-width @width
  display inline-block
  margin -7px 0 0 10px
  border-radius 100%
  overflow hidden
  background #fff no-repeat center top
  background-size 70%
  flex 0 1 auto
  box-shadow 2px 2px 8px alpha(#000,.2)
  // border 2px solid alpha(brand_color[3],.6)
  &.variant--1
    background-image url(assets/dude.png)
    width 97%
  &.variant--2
    background-image url(assets/dude-2.png)
    width 107%
  @media (min-width: media_small)
    display none

.profile__image
  margin 15px auto 25px
  width 180px
  height @width
  border-radius 100%
  background #fff
  max-width 100%
  position relative
  .image
    width 100%
    height 100%
    border-radius 100%
    overflow hidden
    background no-repeat center center
    background-size 200% auto
    background-image url(assets/dude_sprite.png)
    transition background-position 300ms linear
    &.variant--1
      background-position 0 center
    &.variant--2
      background-position 100% center

.profile__image-prev
  position absolute
  top 50%
  left -40px
  margin-top -6px
  cursor pointer
  noselect()
  &:before
    content url(assets/icon_arrow-l-w.svg)
    display inline-block
    vertical-align bottom
    width 20px
  
.profile__image-next
  position absolute
  top 50%
  right -40px
  margin-top -6px
  cursor pointer
  noselect()
  &:before
    content url(assets/icon_arrow-r-w.svg)
    display inline-block
    vertical-align bottom
    width 20px
  

.profile__item
  .title
    font-size size_h4
    font-weight 600
    margin 0 0 10px 0
    input
      text-align center
      background alpha(#fff,.85)
  .rank
    font-size size_h5
    font-weight 600

.profile__footer
  //-
  
.profile__footer-item
  font-weight bold_font_weight
  margin 0 0 10px 0


.profile__medals
  margin 35px -10px 25px 0
  flex 1 0 auto
  text-align center
  
.profile__medal
  width 60px
  height @width 
  border-radius 100%
  flex 0 1 auto
  margin 0 10px 5px 0
  background alpha(#fff,1)
  font-size 2rem
  font-weight 600
  display inline-block
  overflow hidden
  line-height @width
  text-shadow 1px 1px 6px alpha(#000,.5)
  &.type--1
    background url(assets/bg_outside-s.png)
    background-size cover
  &.type--2
    background url(assets/bg_inside-s.png)
    background-size cover
  &.type--3
    background url(assets/bg_outside-s.png)
    background-size cover
  &.type--4
    background url(assets/bg_inside-s.png)
    background-size cover
  &.type--5
    background url(assets/bg_inside-s.png)
    background-size cover
  &.type--6
  &.type--7
  &.type--8
    //
  &.is-empty
    background alpha(#fff,.2)

.profile__medals-footer
  margin 15px 0 0 0
  .link
    color #f8f7cc
    cursor pointer

.view__wizard-wrapper
  height 100%
  width 100%
  display flex
  flex-direction column
  align-items center
  @media (min-width: media_small)
    display flex
    align-items stretch
    height 100%
    justify-content center

.view__wizard-content
  position relative
  background #fff
  width calc(100% \+ 50px) 
  height 100%
  margin 0 -25px
  padding 0 25px
  overflow-y auto
  -webkit-overflow-scrolling touch
  .form
    margin 0 auto
    width 100%
    max-width 740px
    margin 0 auto
    padding base_padding

.view__wizard
  display flex
  justify-content center
  padding 15px
  margin 0
  background #262626
  position relative
  width 100%
  max-width 740px
  margin 0 auto

.view__wizard-back
  &.is-disabled
    visibility hidden
  &:before
    content url(assets/icon_arrow-l-w.svg)
    display inline-block
    vertical-align bottom
    width 20px
    margin 2px 20px -2px 0
  @media (min-width: media_small)
    display none
 
.view__wizard-forward
  &.is-disabled
    opacity .5
  &:before
    content url(assets/icon_arrow-r-w.svg)
    display inline-block
    vertical-align bottom
    width 20px
    margin 2px 20px -2px 0
  @media (min-width: media_small)
    display none

.view__wizard-step
  margin 0 15px 0 0
  padding 0 0 2px 0
  @media (max-width: media_small)
    display none
  &.is-selected
    border-bottom 1px solid alpha(#fff, .8)
    @media (max-width: media_small)
      display block
      border-bottom none
  .link
    link()
    font-weight bold_font_weight
    color #fff
    display inline-block
    margin 1px 0 -1px 0
    &:hover
      color #fff

.image__index
  position absolute
  margin-top 20vh
  margin-left -100px
  animation float 6s ease-in-out infinite
  


.view__filters
  display flex
  flex-wrap wrap
  padding 0 0 base_padding 0
.view__filter
  margin 0 30px 0 0
.view__filter-dropdown
  //
.view__filter-dropdown-title
  font-size size_h3
  font-weight 600
.view__filter-dropdown-handle
  //
.view__filter-dropdown-content
  display none
.view__filter-dropdown-row
  //

