font_family = 'Source Sans Pro'
font_weights = '300,400,600'

brand_color = ( linear-gradient(65deg, #F05348, #E1854B) #F05348 darken(#F05348, 20) #E1854B )
ui_color = ( #35b577 #ffb448 #FF312E #587792 )
neutral = ( #FAF7F5 #F5F5F5 darken(#F5F5F5,5) )
text_color = ( #333 #888 )

base_font_size = 100%
base_line_height = 1.65
base_smooth_font = true

placeholder_color = darken(text_color[1],10)
placeholder_weight = 400

base_font_weight = 400
title_font_weight = 600
thin_font_weight = 300
bold_font_weight = 600

border_radius = 20px

base_padding = 30px

media_medium = 720px
media_large = 1080px

input_border_color = #333
input_border_radius = 1px
input_padding = 5px 5px

button_weight = bold_font_weight
button_font_size = 1rem
button_border = none
button_border_radius = 30px
button_padding = 15px 35px
button_background = brand_color[0]
button_color = #fff

max_text_width = 600px
page_max_width = 1100px
page_header_height = 3rem
main_navigation_width = 300px

size_h5 = 1rem
size_h4 = 1.1 * size_h5 rem
size_h3 = 1.1 * size_h4 rem
size_h2 = 1.1 * size_h3 rem
size_h1 = 1.1 * size_h2 rem


noselect()
  -webkit-user-select none
  -moz-user-select none
  user-select none


color_primary = brand_color[1]

color_link = color_primary
color_link_visited = color_primary
color_link_hover = lighten(color_primary,5)
color_link_active = color_primary

link()
  color color_link
  cursor pointer
  transition color 120ms linear
  &:visited
    color color_link_visited
  &:hover
    color color_link_hover
  &:active
    color color_link_active


@import url('//fonts.googleapis.com/css?family='+ replace(' ', '+', font_family) +':'+ font_weights);

*
  box-sizing border-box
  &:focus
    outline none

html
  font-size base_font_size

html, body
  margin 0
  padding 0
  

body
  font-family font_family, sans-serif
  line-height base_line_height
  font-weight base_font_weight
  color text_color[0]
  if base_smooth_font
    -webkit-font-smoothing antialiased
    -moz-osx-font-smoothing grayscale

h1, h2, h3, h4, h5
  line-height .8 * base_line_height
  margin 0 0 .5em 0
  font-weight title_font_weight

h1
  font-size size_h1
h2
  font-size size_h2
h3
  font-size size_h3
h4
  font-size size_h4
h5
  font-size size_h5

p
  margin 0 0 1em 0
  padding 0

a
  text-decoration none
  color inherit
  
input, select, button, textarea
  -webkit-appearance none
  appearance none
  font-family inherit
  font-size 100%
  font-weight base_font_weight
  line-height base_line_height
  transition box-shadow 80ms linear
  max-width 100%
  if base_smooth_font
    -webkit-font-smoothing antialiased
    -moz-osx-font-smoothing grayscale
  &:disabled
    opacity .5
    cursor default


button()
  -webkit-appearance none
  appearance none
  display inline-block
  vertical-align middle
  cursor pointer
  font-weight button_weight
  font-size button_font_size
  line-height 1
  border button_border
  padding button_padding
  white-space nowrap
  border-radius button_border_radius
  transition all 160ms linear
  background button_background
  color button_color
  text-align center
  margin 10px auto
  noselect()
 
.button
  button()

input()
  border 1px solid input_border_color
  border-radius input_border_radius
  padding input_padding
  min-height 2.8rem
  display block
  margin 0
  
.input, input
  input()
  &.has-error
    border-color brand_color[0]
    &:focus
      border-color brand_color[0]

.input, 
input[type=text], 
input[type=tel], 
input[type=email], 
input[type=password]
  width 100%

textarea
  border 1px solid input_border_color
  min-height 80px
  margin-bottom -4px
  padding input_padding
  border-radius input_border_radius
  resize vertical

input[type=checkbox],
input[type=radio]
  width 22px
  height @width
  min-width 24px
  display inline-block
  vertical-align middle
  margin 0 10px 0 0
  position relative
  min-height 0
  &:checked
    background #fff
    &:before
      content ''
      background no-repeat center center
      background-image url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAxNTQgMTE0Ljg2Ij48ZGVmcz48c3R5bGU+LmNscy0xe2ZpbGw6bm9uZTtzdHJva2U6IzAwMDtzdHJva2UtbGluZWNhcDpyb3VuZDtzdHJva2UtbGluZWpvaW46YmV2ZWw7c3Ryb2tlLXdpZHRoOjI0cHg7fTwvc3R5bGU+PC9kZWZzPjx0aXRsZT5Bc3NldCAxPC90aXRsZT48ZyBpZD0iTGF5ZXJfMiIgZGF0YS1uYW1lPSJMYXllciAyIj48ZyBpZD0iTGF5ZXJfMS0yIiBkYXRhLW5hbWU9IkxheWVyIDEiPjxwb2x5bGluZSBjbGFzcz0iY2xzLTEiIHBvaW50cz0iMTAgNjIuNSA1MS41IDEwOCAxNDQgMTAiLz48L2c+PC9nPjwvc3ZnPg==')
      width 100%
      height @width
      background-size 15px
      display inline-block
      vertical-align top
      position absolute
      top 0
      left 0
input
  input()

placeholder()
  color placeholder_color
  font-style italic
  font-family inherit
  line-height line_height
  font-size 100%
  font-weight placeholder_weight
  if base_smooth_font
    -webkit-font-smoothing antialiased
    -moz-osx-font-smoothing grayscale

::-webkit-input-placeholder {
   placeholder()
}

::-moz-placeholder {  /* Firefox 19+ */
   placeholder()
}

:-ms-input-placeholder {
   placeholder()
}

ul
  list-style none
  padding 0
  margin 0


//- APP
//- Base container and layout

.app
  position absolute
  top 0
  left @top
  right @top
  bottom @top
  overflow hidden

.app__wrapper
  position absolute
  top 0
  left @top
  right @top
  bottom @top
  overflow hidden
  
.app__content
  position absolute
  top 0
  left @top
  right @top
  bottom @top
  overflow-x hidden
  overflow-y auto

.app__logo
  background url(assets/Paikkaoppi_logo.png)
  background-size cover
  width 180px
  height 50px 
  margin base_padding auto


//- TITLES

.title__list
  margin 0 0 25px 0
  font-size size_h2


//- POPUP

.popup
  position fixed
  top 0
  left 0
  right 0
  bottom 0
  z-index 10
  background #fff
  overflow-x hidden
  overflow-y auto
  @media (min-width: media_medium)
    left 20vw
    right @left
    
    &:before,
    &:after
      content ''
      display block
      position fixed
      top 0
      bottom 0
      width 20vw
      background alpha(#000,.4)
    &:before
      left 0
    &:after
      right 0


//- VIEW
//- Holds a single view of the application

.view
  // General wrapper
  text-align center
  height 100%

.view__content
  //- Restricted width wrapper
  max-width page_max_width
  margin 0 auto
  text-align left
  padding base_padding
  height 100%
  
.view__header
  position absolute
  top 0
  left 0
  right 0
  height page_header_height
  text-align left
  padding 0 base_padding
  display flex
  align-items center
  
.view__header-link
  font-weight bold_font_weight
  margin 0 20px 0 0

.view__columns
  
  @media (min-width: media_medium)
    display flex
    align-items stretch
    height 100%
  
.view__column
  
  &:nth-child(1)
    flex 1 0 auto
  &:nth-child(2)
    margin base_padding 0 0 0
    background #efefef
    padding base_padding
    @media (min-width: media_medium)
      min-width 300px
      margin-top 0
    

//- MAP

.map__wrapper
  position absolute
  top page_header_height
  left 0
  right 0
  bottom 0

.map__zoom
  position absolute
  z-index 2
  right 20px
  top 20px
.map__zoom-in,
.map__zoom-out,
.map__center
  width 40px
  height @width
  background #fff
  border-radius 100%
  padding 10px
  box-shadow 2px 2px 10px alpha(#000,.3)
  margin 0 0 8px 0
  cursor pointer
.map__zoom-in
  &:before
    content url(assets/icon_plus.svg)
.map__zoom-out
  &:before
    content url(assets/icon_minus.svg)
.map__center
  margin-top 20px
  &:before
    content url(assets/icon_center.svg)



//- LIST

.list
  &.type--basic
    //-
  &.type--tasks
    .list__item
      margin 0 0 8px 0
      &:before
        display inline-block
        vertical-align bottom
        width 18px
        margin 0 8px -2px 0
      &.type--new:before
        content url(assets/icon_task.svg)
      &.type--progressing:before
        content url(assets/icon_task_progressing.svg)
      &.type--done:before
        content url(assets/icon_task_done.svg)
      
  &.type--text
    .list__item
      margin 0 0 .5rem 0

.list__item-link
  display inline-block
  padding 0 0 2px 0
  color brand_color[1]
  font-weight bold_font_weight
  transition color 120ms linear
  &:hover
    color brand_color[2]


//- FORM

.form

  &.type--login
    max-width 300px
    margin 0 auto
  &.type--settings
    max-width 300px
    margin 0 auto

.form__ingress
  text-align center
    
.form__item
  padding 5px 0

.form__footer
  text-align center
  margin 20px 0 0 0
  -webkit-position sticky
  position sticky
  bottom 0


//- ACCORDION

.accordion
  counter-reset accordion__item
  max-width max_text_width
  margin 0 auto

.accordion__item
  //

.accordion__title
  color brand_color[3]
  margin 20px 0 15px 0
  &:before
    counter-increment accordion__item
    content counter(accordion__item)'.'
    margin 0 5px 0 0
    
.accordion__footer
  margin 35px 0 0 0
  text-align center
  -webkit-position sticky
  position sticky
  bottom 0


//- PROFILE

.profile
  text-align center

.profile__image
  width 120px
  height @width
  margin 0 auto base_padding auto
  overflow hidden
  border-radius 100%
  img
    width 100%
    height 100%

.profile__footer
  margin base_padding 0 0 0
.profile__footer-item
  font-weight bold
  margin 0 0 10px 0


