font_family = 'Nunito'
font_weights = '300,400,600,700,900'

brand_color = ( linear-gradient(65deg, #F05348, #E1854B) #F05348 darken(#F05348, 20) #E1854B )
ui_color = ( #35b577 #ffb448 #FF312E #587792 )
neutral = ( #FAF7F5 #F5F5F5 darken(#F5F5F5,5) )
text_color = ( #333 #888 )

base_font_size = 95%
base_line_height = 1.45
base_smooth_font = true

placeholder_color = darken(text_color[1],10)
placeholder_weight = 400

base_font_weight = 400
title_font_weight = 700
thin_font_weight = 300
bold_font_weight = 700
semibold_font_weight = 600

border_radius = 30px

base_padding = 25px


media_small = 620px
media_mobile = 940px
media_large = 1180px

input_border_color = #333
input_border_radius = 1px
input_padding = 5px 10px

button_weight = bold_font_weight
button_font_size = 1rem
button_border = none
button_border_radius = 30px
button_padding = 15px 35px
button_background = brand_color[0]
button_color = #fff

max_text_width = 600px
page_max_width = 1100px
page_header_height = 6.6rem
main_navigation_width = 300px

size_h5 = 1rem
size_h4 = 1.1 * size_h5 rem
size_h3 = 1.1 * size_h4 rem
size_h2 = 1.1 * size_h3 rem
size_h1 = 1.1 * size_h2 rem


noselect()
  -webkit-user-select none
  -moz-user-select none
  user-select none


color_primary = brand_color[1]

color_link = color_primary
color_link_visited = color_primary
color_link_hover = lighten(color_primary,5)
color_link_active = color_primary

link()
  color color_link
  cursor pointer
  transition color 120ms linear
  &:visited
    color color_link_visited
  &:hover
    color color_link_hover
  &:active
    color color_link_active

 