
@keyframes appear
  0%
    transform rotateX(-90deg)
  40%
    transform rotateX(0deg)
  70%
    transform rotateX(60deg)
  100%
    transform rotateX(0deg)

@keyframes fade-in
  0%
    opacity 0
  100%
    opacity 1

@keyframes float
  0%
    transform translate3d(0,-10px,0)
  50%
    transform translate3d(0,10px,0)
  100%
    transform translate3d(0,-10px,0)
    
@keyframes slide
  0%
    transform translate3d(-50%,-300%,0)
  100%
    transform translate3d(-50%,0,0)
    
@keyframes slide-out
  0%
    transform translate3d(-50%,0,0)
  100%
    transform translate3d(-50%,-300%,0)


@import url('//fonts.googleapis.com/css?family='+ replace(' ', '+', font_family) +':'+ font_weights);

*
  box-sizing border-box
  &:focus
    outline none

html
  font-size base_font_size

html, body
  margin 0
  padding 0
  

body
  font-family font_family, sans-serif
  line-height base_line_height
  font-weight base_font_weight
  color text_color[0]
  if base_smooth_font
    -webkit-font-smoothing antialiased
    -moz-osx-font-smoothing grayscale

h1, h2, h3, h4, h5
  line-height .8 * base_line_height
  margin 0 0 .5em 0
  font-weight title_font_weight

h1
  font-size size_h1
h2
  font-size size_h2
h3
  font-size size_h3
h4
  font-size size_h4
h5
  font-size size_h5

p
  margin 0 0 1em 0
  padding 0

a
  text-decoration none
  color inherit
  cursor pointer
  
input, select, button, textarea
  -webkit-appearance none
  appearance none
  font-family inherit
  font-size 100%
  font-weight base_font_weight
  line-height base_line_height
  transition box-shadow 80ms linear
  max-width 100%
  if base_smooth_font
    -webkit-font-smoothing antialiased
    -moz-osx-font-smoothing grayscale
  &:disabled
    opacity .5
    cursor default

textarea
  width 100%
  height 140px
  resize vertical


button()
  -webkit-appearance none
  appearance none
  display inline-block
  vertical-align middle
  cursor pointer
  font-weight button_weight
  font-size button_font_size
  line-height 1
  border button_border
  padding button_padding
  white-space nowrap
  border-radius button_border_radius
  transition all 160ms linear
  background button_background
  color button_color
  text-align center
  margin 10px auto
  noselect()
 
.button
  button()
  &.type--secondary
    color brand_color[3]
    background none
  &.type--form
    border 1px solid brand_color[1]
    background transparent
    color brand_color[1]
    margin 10px auto
    
input()
  border 1px solid input_border_color
  border-radius input_border_radius
  padding input_padding
  min-height 2.8rem
  display block
  margin 0
  
.input, input
  input()
  &.has-error
    border-color brand_color[0]
    &:focus
      border-color brand_color[0]

.input, 
input[type=text], 
input[type=tel], 
input[type=email], 
input[type=password]
  width 100%

textarea
  border 1px solid input_border_color
  min-height 80px
  margin-bottom -4px
  padding input_padding
  border-radius input_border_radius
  resize vertical

input[type=checkbox],
input[type=radio]
  width 22px
  height @width
  min-width 24px
  display inline-block
  vertical-align middle
  margin 0 10px 0 0
  position relative
  min-height 0
  &:checked
    background #fff
    &:before
      content ''
      background no-repeat center center
      background-image url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAxNTQgMTE0Ljg2Ij48ZGVmcz48c3R5bGU+LmNscy0xe2ZpbGw6bm9uZTtzdHJva2U6IzAwMDtzdHJva2UtbGluZWNhcDpyb3VuZDtzdHJva2UtbGluZWpvaW46YmV2ZWw7c3Ryb2tlLXdpZHRoOjI0cHg7fTwvc3R5bGU+PC9kZWZzPjx0aXRsZT5Bc3NldCAxPC90aXRsZT48ZyBpZD0iTGF5ZXJfMiIgZGF0YS1uYW1lPSJMYXllciAyIj48ZyBpZD0iTGF5ZXJfMS0yIiBkYXRhLW5hbWU9IkxheWVyIDEiPjxwb2x5bGluZSBjbGFzcz0iY2xzLTEiIHBvaW50cz0iMTAgNjIuNSA1MS41IDEwOCAxNDQgMTAiLz48L2c+PC9nPjwvc3ZnPg==')
      width 100%
      height @width
      background-size 15px
      display inline-block
      vertical-align top
      position absolute
      top 0
      left 0
input
  input()

.select__wrapper
  position relative
  border 1px solid input_border_color
  border-radius input_border_radius
  display inline-block
  background #fff
  transform translateZ(0)
  width 100%
  display block
  max-width 340px
  select
    background transparent
    border-radius 0
    border none
    padding input_padding
    padding-right 34px !important 
    cursor pointer
    width 100%
    -moz-appearance none
    &::-ms-expand
      display none
      visibility hidden

placeholder()
  color placeholder_color
  font-style italic
  font-family inherit
  line-height line_height
  font-size 100%
  font-weight placeholder_weight
  if base_smooth_font
    -webkit-font-smoothing antialiased
    -moz-osx-font-smoothing grayscale

::-webkit-input-placeholder {
   placeholder()
}

::-moz-placeholder {  /* Firefox 19+ */
   placeholder()
}

:-ms-input-placeholder {
   placeholder()
}

ul
  list-style none
  padding 0
  margin 0




//- FORM

.form

  &.type--login
    max-width 600px
    margin 0 auto
  &.type--settings
    max-width 340px
    margin 0 auto
  &.type--basic
    margin 0 auto
    text-align left

.form__columns
  display flex

.form__column
  flex 1 0 50%
  &:first-child
    padding-right 5px
  &:nth-child(2)
    padding-left 5px

.form__title
  font-weight bold_font_weight
  margin 25px 0 20px 0
  text-align center
  border-bottom 1px solid alpha(#000, .1)
  padding-bottom 5px
  &:first-of-type
    margin-top 0
    
.form__ingress
  text-align center
  font-size 1.1rem
  strong
    font-size 1.2rem
    
.form__item
  padding 5px 0
  &.type--centered
    text-align center
  label
    font-weight bold_font_weight

.form__row
  margin-bottom 10px

.form__image
  margin 0 0 15px 0

.form__image-placement
  width 100%
  height 180px
  background #efefef
  display flex
  align-items center
  justify-content center
  position relative
  overflow hidden
  .text
    color brand_color[1]
    font-weight 600
    position relative
    z-index 2
    button()
    border 1px solid brand_color[1]
    background transparent
    color brand_color[1]

.form__image-placement-buttons
  display flex
  flex-direction column
  align-items center
  justify-content center
  .text
    margin 0 0 25px 0
    &:last-child
      margin-bottom 0
    &.type--remove
      border none
      border-radius 0
      border-bottom 1px solid brand_color[1]
      padding 0 0 3px 0
    
.form__image-placement-preview
  display block
  position absolute
  top 0
  left 0
  right 0
  bottom 0
  background no-repeat center center
  background-size cover
  

.form__image-placement-cover
  display block
  position absolute
  -webkit-filter blur(3px)
  filter blur(3px)
  top 0
  left 0
  right 0
  bottom 0
  background no-repeat center center
  background-size cover
  &:before
    content ''
    background alpha(#fff,.6)
    top 0
    left 0
    right 0
    bottom 0
    position absolute
    
.form__footer
  text-align center
  margin 25px 0 0 0
  bottom 0
  display flex
  flex-direction column
  .link
    color #f8f7cc
    cursor pointer
    font-weight 700
    font-size size_h4
    &.type--secondary
      font-weight 500
      font-size size_h5
      float left
    
.form__footer-links
  text-align right
  .link
    // margin 0 15px
