<div class="view">
  <div class="view__header">
    <h1 class="view__header-title">Omat tehtävät</h1><a routerLink="/library" class="view__add"></a>
  </div>
  <div class="view__content">
    <div class="view__columns">
      <div class="view__column">
        <h1 class="title__list">Omat tehtävät</h1>
        <div class="list type--tasks">
          <a [routerLink]="['/map', t.id]" class="list__item" *ngFor="let t of tasks">
            <div class="list__item-status" *ngIf="t.id == taskId">
              <div class="status">Uusi</div>
            </div>
            <div class="list__item-image"></div>
            <div class="list__item-title">{{t.name}}</div>
            <div class="list__item-detail">{{t.title}} </div>
            <div class="list__item-code">
              <div class="code">{{t.code}}</div>
            </div>
          </a>
        </div>
      </div>
      <div class="view__column">
        <div class="profile">
          <div class="profile__item">
            <div class="profile__image"><img src="assets/monster.svg"></div>
          </div>
          <div class="profile__item">
            <label>{{user.name}}</label>
          </div>
          <div class="profile__footer">
            <div class="profile__footer-item"><a (click)="logout()">Kirjaudu ulos</a></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>