@import url("//fonts.googleapis.com/css?family=Nunito:300,400,600,700,900");
* {
  box-sizing: border-box;
}
*:focus {
  outline: none;
}
html {
  font-size: 95%;
}
html,
body {
  margin: 0;
  padding: 0;
}
body {
  font-family: 'Nunito', sans-serif;
  line-height: 1.45;
  font-weight: 400;
  color: #333;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
h1,
h2,
h3,
h4,
h5 {
  line-height: 1.16;
  margin: 0 0 0.5em 0;
  font-weight: 700;
}
h1 {
  font-size: 1.464100000000001rem;
}
h2 {
  font-size: 1.331rem;
}
h3 {
  font-size: 1.21rem;
}
h4 {
  font-size: 1.1rem;
}
h5 {
  font-size: 1rem;
}
p {
  margin: 0 0 1em 0;
  padding: 0;
}
a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}
input,
select,
button,
textarea {
  -webkit-appearance: none;
  appearance: none;
  font-family: inherit;
  font-size: 100%;
  font-weight: 400;
  line-height: 1.45;
  transition: box-shadow 80ms linear;
  max-width: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
input:disabled,
select:disabled,
button:disabled,
textarea:disabled {
  opacity: 0.5;
  cursor: default;
}
textarea {
  width: 100%;
  height: 120px;
  resize: vertical;
}
.button {
  -webkit-appearance: none;
  appearance: none;
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
  font-weight: 700;
  font-size: 1rem;
  line-height: 1;
  border: none;
  padding: 15px 35px;
  white-space: nowrap;
  border-radius: 30px;
  transition: all 160ms linear;
  background: linear-gradient(65deg, #f05348, #e1854b);
  color: #fff;
  text-align: center;
  margin: 10px auto;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}
.button.type--secondary {
  color: #e1854b;
  background: none;
}
.button.type--form {
  border: 1px solid #f05348;
  background: transparent;
  color: #f05348;
  margin: 10px auto;
}
.input,
input {
  border: 1px solid #333;
  border-radius: 1px;
  padding: 5px 10px;
  min-height: 2.8rem;
  display: block;
  margin: 0;
}
.input.has-error,
input.has-error {
  border-color: linear-gradient(65deg, #f05348, #e1854b);
}
.input.has-error:focus,
input.has-error:focus {
  border-color: linear-gradient(65deg, #f05348, #e1854b);
}
.input,
input[type=text],
input[type=tel],
input[type=email],
input[type=password] {
  width: 100%;
}
textarea {
  border: 1px solid #333;
  min-height: 80px;
  margin-bottom: -4px;
  padding: 5px 10px;
  border-radius: 1px;
  resize: vertical;
}
input[type=checkbox],
input[type=radio] {
  width: 22px;
  height: 22px;
  min-width: 24px;
  display: inline-block;
  vertical-align: middle;
  margin: 0 10px 0 0;
  position: relative;
  min-height: 0;
}
input[type=checkbox]:checked,
input[type=radio]:checked {
  background: #fff;
}
input[type=checkbox]:checked:before,
input[type=radio]:checked:before {
  content: '';
  background: no-repeat center center;
  background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAxNTQgMTE0Ljg2Ij48ZGVmcz48c3R5bGU+LmNscy0xe2ZpbGw6bm9uZTtzdHJva2U6IzAwMDtzdHJva2UtbGluZWNhcDpyb3VuZDtzdHJva2UtbGluZWpvaW46YmV2ZWw7c3Ryb2tlLXdpZHRoOjI0cHg7fTwvc3R5bGU+PC9kZWZzPjx0aXRsZT5Bc3NldCAxPC90aXRsZT48ZyBpZD0iTGF5ZXJfMiIgZGF0YS1uYW1lPSJMYXllciAyIj48ZyBpZD0iTGF5ZXJfMS0yIiBkYXRhLW5hbWU9IkxheWVyIDEiPjxwb2x5bGluZSBjbGFzcz0iY2xzLTEiIHBvaW50cz0iMTAgNjIuNSA1MS41IDEwOCAxNDQgMTAiLz48L2c+PC9nPjwvc3ZnPg==");
  width: 100%;
  height: 100%;
  background-size: 15px;
  display: inline-block;
  vertical-align: top;
  position: absolute;
  top: 0;
  left: 0;
}
input {
  border: 1px solid #333;
  border-radius: 1px;
  padding: 5px 10px;
  min-height: 2.8rem;
  display: block;
  margin: 0;
}
.select__wrapper {
  position: relative;
  border: 1px solid #333;
  border-radius: 1px;
  display: inline-block;
  background: #fff;
  transform: translateZ(0);
  width: 100%;
  display: block;
  max-width: 340px;
}
.select__wrapper select {
  background: transparent;
  border-radius: 0;
  border: none;
  padding: 5px 10px;
  padding-right: 34px !important;
  cursor: pointer;
  width: 100%;
  -moz-appearance: none;
}
.select__wrapper select::-ms-expand {
  display: none;
  visibility: hidden;
}
::-webkit-input-placeholder {
  color: #6f6f6f;
  font-style: italic;
  font-family: inherit;
  line-height: line_height;
  font-size: 100%;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
::-moz-placeholder {
/* Firefox 19+ */
  color: #6f6f6f;
  font-style: italic;
  font-family: inherit;
  line-height: line_height;
  font-size: 100%;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
:-ms-input-placeholder {
  color: #6f6f6f;
  font-style: italic;
  font-family: inherit;
  line-height: line_height;
  font-size: 100%;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.form.type--login {
  max-width: 600px;
  margin: 0 auto;
}
.form.type--settings {
  max-width: 340px;
  margin: 0 auto;
}
.form.type--basic {
  margin: 0 auto;
  text-align: left;
}
.form__columns {
  display: flex;
}
.form__column {
  flex: 1 0 50%;
}
.form__column:first-child {
  padding-right: 5px;
}
.form__column:nth-child(2) {
  padding-left: 5px;
}
.form__title {
  font-weight: 700;
  margin: 25px 0 20px 0;
  text-align: center;
  border-bottom: 1px solid rgba(0,0,0,0.1);
  padding-bottom: 5px;
}
.form__title:first-of-type {
  margin-top: 0;
}
.form__ingress {
  text-align: center;
  font-size: 1.1rem;
}
.form__ingress strong {
  font-size: 1.2rem;
}
.form__item {
  padding: 5px 0;
}
.form__item.type--centered {
  text-align: center;
}
.form__item label {
  font-weight: 700;
}
.form__row {
  margin-bottom: 10px;
}
.form__image {
  margin: 0 0 15px 0;
}
.form__text {
  margin: 0 0 10px 0;
}
.form__text-title {
  font-weight: 700;
}
.form__text-value em {
  font-style: normal;
  font-weight: 700;
  color: #f8f7cc;
  font-size: 0.86rem;
  float: right;
}
.form__image-placement {
  width: 100%;
  height: 130px;
  background: #efefef;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
}
.form__image-placement .text {
  color: #f05348;
  font-weight: 600;
  position: relative;
  z-index: 2;
  -webkit-appearance: none;
  appearance: none;
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
  font-weight: 700;
  font-size: 1rem;
  line-height: 1;
  border: none;
  padding: 15px 35px;
  white-space: nowrap;
  border-radius: 30px;
  transition: all 160ms linear;
  background: linear-gradient(65deg, #f05348, #e1854b);
  color: #fff;
  text-align: center;
  margin: 10px auto;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  border: 1px solid #f05348;
  background: transparent;
  color: #f05348;
}
.form__image-placement-buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.form__image-placement-buttons .text {
  margin: 0 0 25px 0;
}
.form__image-placement-buttons .text:last-child {
  margin-bottom: 0;
}
.form__image-placement-buttons .text.type--remove {
  border: none;
  border-radius: 0;
  border-bottom: 1px solid #f05348;
  padding: 0 0 3px 0;
}
.form__image-placement-preview {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: no-repeat center center;
  background-size: cover;
}
.form__image-placement-cover {
  display: block;
  position: absolute;
  -webkit-filter: blur(3px);
  filter: blur(3px);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: no-repeat center center;
  background-size: cover;
}
.form__image-placement-cover:before {
  content: '';
  background: rgba(255,255,255,0.6);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
}
.form__footer {
  text-align: center;
  margin: 25px 0 0 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
}
.form__footer .link {
  color: #f8f7cc;
  cursor: pointer;
  font-weight: 700;
  font-size: 1.1rem;
}
.form__footer .link.type--secondary {
  font-weight: 500;
  font-size: 1rem;
  float: left;
}
.form__footer-links {
  text-align: right;
}
@-moz-keyframes appear {
  0% {
    transform: rotateX(-90deg);
  }
  40% {
    transform: rotateX(0deg);
  }
  70% {
    transform: rotateX(60deg);
  }
  100% {
    transform: rotateX(0deg);
  }
}
@-webkit-keyframes appear {
  0% {
    transform: rotateX(-90deg);
  }
  40% {
    transform: rotateX(0deg);
  }
  70% {
    transform: rotateX(60deg);
  }
  100% {
    transform: rotateX(0deg);
  }
}
@-o-keyframes appear {
  0% {
    transform: rotateX(-90deg);
  }
  40% {
    transform: rotateX(0deg);
  }
  70% {
    transform: rotateX(60deg);
  }
  100% {
    transform: rotateX(0deg);
  }
}
@keyframes appear {
  0% {
    transform: rotateX(-90deg);
  }
  40% {
    transform: rotateX(0deg);
  }
  70% {
    transform: rotateX(60deg);
  }
  100% {
    transform: rotateX(0deg);
  }
}
@-moz-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-o-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-moz-keyframes float {
  0% {
    transform: translate3d(0, -10px, 0);
  }
  50% {
    transform: translate3d(0, 10px, 0);
  }
  100% {
    transform: translate3d(0, -10px, 0);
  }
}
@-webkit-keyframes float {
  0% {
    transform: translate3d(0, -10px, 0);
  }
  50% {
    transform: translate3d(0, 10px, 0);
  }
  100% {
    transform: translate3d(0, -10px, 0);
  }
}
@-o-keyframes float {
  0% {
    transform: translate3d(0, -10px, 0);
  }
  50% {
    transform: translate3d(0, 10px, 0);
  }
  100% {
    transform: translate3d(0, -10px, 0);
  }
}
@keyframes float {
  0% {
    transform: translate3d(0, -10px, 0);
  }
  50% {
    transform: translate3d(0, 10px, 0);
  }
  100% {
    transform: translate3d(0, -10px, 0);
  }
}
@-moz-keyframes slide {
  0% {
    transform: translate3d(-50%, -300%, 0);
  }
  100% {
    transform: translate3d(-50%, 0, 0);
  }
}
@-webkit-keyframes slide {
  0% {
    transform: translate3d(-50%, -300%, 0);
  }
  100% {
    transform: translate3d(-50%, 0, 0);
  }
}
@-o-keyframes slide {
  0% {
    transform: translate3d(-50%, -300%, 0);
  }
  100% {
    transform: translate3d(-50%, 0, 0);
  }
}
@keyframes slide {
  0% {
    transform: translate3d(-50%, -300%, 0);
  }
  100% {
    transform: translate3d(-50%, 0, 0);
  }
}
@-moz-keyframes slide-out {
  0% {
    transform: translate3d(-50%, 0, 0);
  }
  100% {
    transform: translate3d(-50%, -300%, 0);
  }
}
@-webkit-keyframes slide-out {
  0% {
    transform: translate3d(-50%, 0, 0);
  }
  100% {
    transform: translate3d(-50%, -300%, 0);
  }
}
@-o-keyframes slide-out {
  0% {
    transform: translate3d(-50%, 0, 0);
  }
  100% {
    transform: translate3d(-50%, -300%, 0);
  }
}
@keyframes slide-out {
  0% {
    transform: translate3d(-50%, 0, 0);
  }
  100% {
    transform: translate3d(-50%, -300%, 0);
  }
}
@media (min-width: 620px) {
  .view__index-columns {
    display: flex;
    align-items: stretch;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
}
.view__index-column {
  position: relative;
}
.view__index-column:nth-child(1) {
  flex: 1 0 auto;
  padding: 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media (min-width: 620px) {
  .view__index-column:nth-child(1) {
    max-width: calc(100vw - 610px);
  }
}
.view__index-column:nth-child(2) {
  background: linear-gradient(45deg, #f88043, #f8f7cc);
}
@media (min-width: 620px) {
  .view__index-column:nth-child(2) {
    min-width: 550px;
    margin: 0 0 0 80px;
  }
}
.image__index {
  position: absolute;
  margin-top: 20vh;
  margin-left: -100px;
  animation: float 6s ease-in-out infinite;
}
