<div id="login" class="view">
  <div class="proto__documentation">
    <p>Kirjautumisnäkymä. Näytetään staattisena.</p>
  </div>
  <div class="view__content">
    <div class="form type--login">
      <div class="app__logo"></div>
      <div class="form__ingress">
        <p>PaikkaOppi on kouluille maksuton verkkopohjainen oppimisympäristö.</p>
      </div>
      <ng-container *ngFor="let u of users">
        <div><a (click)='loginUser(u)' class="button">Kirjaudu sisään: {{u}}</a></div>
      </ng-container>
    </div>
  </div>
</div>
